.say-cheese {
  border-bottom: 1px solid #e8e8e8;
}

#say-cheese-container {
  margin: 15px 15px 15px 5px;
  position: relative;
}

/* #say-cheese-container video { */
/*   border: 1px solid #f4f4f4; */
/*   box-shadow: 0px 0px 8px 1px #808080; */
/* } */

/* #say-cheese-snapshots { */
/*   float: left; */
/*   margin-top: 15px; */
/*   width: 280px; */
/*   max-height: 480px; */
/*   overflow: scroll; */
/* } */

/* #say-cheese-snapshots img { */
/*   display: block; */
/*   padding: 2px; */
/*   width: 273px; */
/*   border: 1px solid #e8e8e8; */
/*   box-shadow: 1px 1px 5px 0px #808080; */
/*   margin: 5px 0; */
/* } */
