<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {% extends "gosip:gosip/base.html" %}
        {% block title %}Navegando pela cidade{% endblock %}

        {% block content %}
        
        {% endblock content %}
    
    </body>
</html>
