<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% extends "history:history/base.html" %}      
        {% load static %}         
		
        {% block history %}
		<div class="row">
            <div class="col-md-12 col-sm-12">
                <p>Você está na <strong>{{next.label}}</strong> e seu objetivo é <strong>{{goal}}</strong>.</p>   
                                              
            </div>
        </div>
        
        {% if respondent.installed_gugou == True %}
        <div class="row">
		     <div class="col-md-12 col-sm-12 text-center">
		         <img alt="" class="img-responsive img-thumbnail" src="{%static 'mapa.jpg' %}">     
		         <em><small>Clique no botão "Abrir Mapa" para ver onde se encontra cada estabelecimento.</small></em>                         
		     </div>
		 </div>
		 {% elif respondent.installed_fakebook == True %}
		 <div class="row">
		     <div class="col-md-12 col-sm-12 text-justify">
		     	<p>Como você não tem o serviço de localização, o Gugou, você não tem acesso ao mapa pelo seu dispositivo móvel, portanto, terá que chegar ao seu destino usando tentativas.</p>
		     	<p>Porém, para sua sorte você instalou o Fakebook. Você pode entrar em contato com algum amigo e pedir as direções para chegar ao seu destino mais rapidamente.</p>
		     	<p>Boa sorte!</p>
		     </div>
	     </div>
		 {% else %}
		 <div class="row">
		     <div class="col-md-12 col-sm-12 text-justify">
		     	<p>Como você não tem o serviço de localização, o Gugou, você não tem acesso ao mapa pelo seu dispositivo móvel, portanto, terá que chegar ao seu destino usando tentativas. Boa sorte!</p>
		     </div>
	     </div>
		 {% endif %}
		
		<br>
		
		<p>Selecione o que você deseja fazer:</p>
        {% if next.places.all %}
        <p>Entrar no:</p>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-2">
                
                <div class="list-group">
                {% for p in next.places.all %}
	                <a href="{% url 'map:map.views.place' next.pk p.pk %}" class="list-group-item">{{p.label}}</a>
                {% endfor %}
                </div>
            </div>            
        </div>
        {% endif %}
        
        {% if next.possibilities.all %}
        <p>Seguir para:</p>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-2">
                <div class="list-group">
	                {% for p in next.possibilities.all %}
	                <a href="{% url 'map:map.views.navigation' p.pk %}"  class="list-group-item">{{p.label}}</a>
	                {% endfor %}
	            </div>
            </div>            
        </div>
        {% endif %}
        {% endblock %}

		{% block options %}
        {% endblock %}
        
        {% block scripts %}
        <script type="text/javascript">
        
        {% if traffic_tip %}
        	setTimeout(function() {
        		showNotification('warning','<strong>Notificação do <em>Twistter</em></strong>: "{{traffic_tip}}" - <strong><em>@DefesaCivil</em></strong>!');
        	}, 2000);
        {% endif %}
        </script>       
    	{% endblock scripts%}
    </body>
</html>
