<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               
		{% load static %}
		
        {% block history %}
		<div class="row">
            <div class="col-md-12 col-sm-12">
                <p>Vocês está dentro do(a) <strong>{{place.label}}</strong></p>                                 
            </div>
        </div>

        <p>Voltar para:</p>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-2">
                
                <div class="list-group">
                <a href="{% url 'map:map.views.navigation' previous_edge.pk %}" class="list-group-item">{{previous_edge.label}}</a>
                </div>
            </div>            
        </div>

        {% if has_map %}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <img src="{%static 'mapa.jpg' %}" class="img-responsive" />
            </div>
        </div>
        {% endif %}
		
        {% endblock %}

		{% block options %}
        {% endblock %}
    </body>
</html>

