<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% extends "history:history/base.html" %}
        {% load static %}
        
        {% block history %}
        
        <script type="text/javascript">
	        $(document).ready(function(){
    	    {% if respondent.show_score == True %}
	       	$('#modal-gosip-instrucoes-com-score').modal('show');
        	{% else %}
        	$('#modal-gosip-instrucoes-sem-score').modal('show');
        	{% endif%}
	        });
        </script>
        
        <p>Seu voo acaba de pousar em Privus.</p>
        <p>Você olha para fora, o céu azul, os arranha-céus, a paisagem urbana e suspira... É a oportunidade que você queria de começar uma nova vida por aqui, independente do que tenha acontecido antes.</p>
        <p>Você pega sua bagagem de mão e aguarda sua vez de desembarcar, até que um senhor de aparência jovial acena para que você possa assumir seu lugar na fila.</p>
        <p>No corredor estreito da aeronave você olha várias pessoas,  conterrâneos, e se questiona se estão aqui com as mesmas expectativas que você. Mentalmente você deseja a todas elas muita sorte no recomeço.</p>
        <p>Finalmente é sua vez de sair do avião; é bom respirar ar puro depois de 12 horas de voo.</p>
        <p>Todos são direcionados para os balcões do serviço de imigração.</p> 
        <p>É agora.</p>
        {% endblock %}
           
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_1')">
             Ir para serviço de imigração
        </button>
        {% endblock %}

    </body>
</html>
