<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}       

        {% block history %}
        {% if has_user_data %}
            <p><b>Peguei os dados do mininu</b></p>
        {% endif %}
        
        <p>A fila não está tão grande quanto você esperava. Assim que a família à sua frente é atendida, você já fica aguardando ser chamado. Um aceno e você é convidado a se aproximar do guichê:</p>
        <p>_ "<em>Um momento... Sua documentação, por favor</em>", diz o funcionário do serviço de imigração.</p>
        <p>Você se supreende quando ele te informa que aqui você pode optar entre algumas formas não convencionais pelas quais você pode fornecer seus dados, além da velha forma manual, claro. 
        De onde você veio esses serviços são tão formais, que você nunca imaginaria que algum dia as opções a seguir seriam apresentadas a você.</p>
        <p>Então, o que você vai querer fazer?</p>
        {% endblock %}
        
    
        {% block options %}
         <div class="btn-group dropup">
		    <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
		      Quero fornecer meus dados
		      <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
			    <li role="presentation" class="dropdown-header">Redes Sociais</li>
                      <li>
                      	<a href="{% url 'social:begin' 'facebook' %}">do Facebook</a>
                      </li>
                      <li><a href="{% url 'social:begin' 'linkedin-oauth2' %}">do LinkedIn</a></li>
			    <li role="presentation" class="divider"></li>
			    <li>
			    	<a href="#" onclick="setValues('next_2c')">manualmente</a>
			    </li>
		    </ul>
		 </div>
		         
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_2b')">
             Não quero fornecer meus dados
        </button>
        {% endblock %}

    </body>
</html>
