<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Você acabou de efetuar o pagamento da sua conta de energia!</p>
        <p>Pela pontualidade no pagamento, as autoridades te oferecem <strong>5%</strong> de desconto na próxima conta de energia.</p>
        <p>Falando nisso, ao retornar para casa, você percebe que havia um folheto da distribuidora de energia, a <em>Electric Privus</em>, caído no jardim de entrada da sua casa, falando sobre
        o uso recente do medidor de consumo de energia inteligente, que coleta o consumo de energia elétrica de cada equipamento dentro da residência e, além de permitir a geração da conta no final do mês, também deixa
        você por dentro do consumo de cada equipamento, para que você saiba tim-tim por tim-tim o que cada equipamento doméstico está consumindo.</p>
        		
        <div id="service-block" class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon-download pull-right"></span> Para saber mais ou instalar</div>
			<div class="panel-body">
				<div class="btn-group">
					<button class="btn btn-default" onclick="$('#modal-gosip-energia').modal('show')">
					  Electric Privus
					</button>
				</div>
			</div>
		</div>
		        
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_11a')">
             Continuar
        </button>
        {% endblock %}
    </body>
</html>

