<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        
        {% include "history:history/navegacao.html" %}
        
        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_10a')">
             Simular dar certo
        </button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_7b')">
             Simular dar errado
        </button>
        {% endblock %}

    </body>
</html>

