<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        
        {% include "history:history/navegacao.html" %}
        
        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_11b')">
             Simular chegar em casa
        </button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_11c')">
             Simular esgotou o tempo
        </button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_11d')">
             Simular entrar em rua alagada
        </button>
        {% endblock %}

    </body>
</html>

