<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Agora, no conforto da sua casa, você liga a TV e acaba zapeando até um canal de saúde, o <em>Privus Health</em>, onde estão discutindo os malefícios de uma vida sedentária.</p>
        <p>"<em>A falta de exercício está causando tantas mortes em todo o mundo como o tabagismo, de acordo com pesquisas realizadas recentemente, pela Universidade Federal Secreta, a UFS</em>.</p>
        <p><em>Mas, enquanto algumas centenas de atletas estiveram empurrando seus corpos ao limite, a maior parte do mundo esteve assistindo na TV, sentado inativo por horas a fio.</em></p>
        <p><em>Os cientistas dizem que não são eles, nem a Copa,  que estão defendendo sessões excruciantes de ginástica. Como Pamela Moras, da UFS coloca: "E não se trata de correr em uma esteira, enquanto olha para um espelho e ouve o seu iPod."</em></p>
        <p><em>Não há nada de errado em ir para a academia, é claro, mas o objetivo é incentivar que todos construam hábito de incluir atividades físicas em suas vidas diárias, como deslocar-se a pé, andar de bicicleta, nadar ou fazer qualquer esporte que gostem.</em></p>
        <p><em>O problema é que todos estamos acostumados com esses conceitos. Todos sabemos que deveríamos nos mover mais e passar menos tempo sentados. Ainda assim, 1 em cada 3 adultos no mundo inteiro não consegue fazer o recomendado: 150 minutos de atividade física aeróbica moderada por semana.</em></p>
        <p><em>Então ao invés de enfatizar os benefícios à saúde, provocados pelos exercícios, os pesquisadores UFS optaram por mostrar os danos causados ​​pela inatividade. Eles estimam que a falta de exercício é responsável por cerca de 5.3 milhões de mortes por ano - quase o mesmo número causado pelo tabagismo...</em>"</p>
        
        <!-- <p>NOTICIA ADAPTADA DE http://www.bbc.com/news/health-18880989</p> -->
        <p>Você zapeia para alguns outros canais... clipes musicais, uma novela mexicana com seus personagens clássicos, um canal de notícias do qual você muda rapidamente por que percebe que estão falando das guerras no além-Mar Prestos.. Você acaba voltando ao <em>Privus Health</em>.</p>
        <p id="health-block">Você acaba de se sentar no sofá da sua sala para descansar da longa caminhada. O coração está um pouco mais acelerado do que devia. Percebe que a boca está um tanto seca, levanta-se, pega um copo de água e volta a sentar-se. Você 
        sente um pouco de tontura, mas entende que tudo está normal e que não há nada com o que se preocupar. Agora que você está em uma nova cidade, pode se programar para uma nova rotina que inclua atividades físicas e um alimentação balanceada, 
        coisas que já não faz há um bom tempo.</p>
        
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_12a')">
             Continuar
        </button>
        {% endblock %}
        
        {% block scripts %}
        <script type="text/javascript">
        $(function() {
        	var height = $(window).height();

        	var scroller1 = new ScrollToggle($('#health-block').position().top - height, function () {
                //console.log("Element #1 has been reached.");
                {% if respondent.installed_health_monitor == False %}
                showNotification('info','Preocupado com sua saúde? Faça mais por você mesmo, utilize o <em>Health Monitor</em>, o mais indicado no canal <em>Privus Health</em>. <a href="#" onclick="$(\'#modal-gosip-saude\').modal(\'show\')" class="alert-link">Saber mais...</a>');
                {% endif %}
            }, function () {
                //console.log("Element #1 is gone.");
            });

        });
        </script>       
    	{% endblock scripts%}
    </body>
</html>

