<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Parabéns... Você acabou de estacionar seu carro na garagem. Por sorte, tudo está bem por aqui. Você tranca o carro, ativa o alarme e vai para dentro de casa.</p>
        <p>Está exausto, hoje foi um dia bem cheio. Agora é hora de tomar um bom banho, vestir aquele moletom bem confortável, relaxar e, quem sabe, viver feliz para sempre.</p>

        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_15a')">
             <span class="glyphicon glyphicon-road"></span> Ver resultado
        </button>
        {% endblock %}
    </body>
</html>

