<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Seu combustível acabou.</p>
        <p>Por pura infelicidade, o céu está desabando por aqui. Você poderia até tentar chamar atenção de alguém para pedir ajuda, mas entende que isso beira o impossível. Seria mais fácil nadar até sua casa, se você me permite a piada.</p> 
        <p>Não há o que fazer. Incline seu banco e tente tirar um cochilo, porque daqui você não vai sair até que esta chuva pare.</p>
        <p>Isso se ela parar...</p>
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_15a')">
             <span class="glyphicon glyphicon-road"></span> Ver resultado
        </button>
        {% endblock %}
    </body>
</html>

