<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Ops, rua alagada... Não! Não tente acelerar e sair daqui, meu(inha) caro(a)... Isso aqui é um carro, não uma lancha.</p>
        <p>À essa altura, deve ter barro no filtro de ar, curtos circuitos estão fazendo uma festa na parte elétrica... O caos se instaurou no seu carro. Se você sabe nadar, a hora é essa.</p>
        <p>Devo lembrar que seu assento é flutuante; não resolve, mas já ameniza a situação.</p>
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_15a')">
             <span class="glyphicon glyphicon-road"></span> Ver resultado
        </button>
        {% endblock %}
    </body>
</html>

