<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        
        {% if respondent.installed_health_monitor == True and respondent.installed_hospital_assist == False %}
        <script type="text/javascript">
        $(function(){
        showNotification('info','Que tal incrementar o seu <em>Health Monitor</em> com o serviço de atendimento emergencial onde quer que você esteja? <a href="#" onclick="$(\'#modal-gosip-assist\').modal(\'show\')" class="alert-link">Saber mais...</a>');        	
        });
        </script>
        {% endif %}
        
        <p>Você começa a sentir um pouco de fome e decide ir fazer algo para comer. Depois de preparado um sanduíche, você volta a se sentar no sofá.
		Enquanto isso, coloca no canal de notícias e aumenta um pouco mais o volume para que possa ouvir...</p>
        <p>"<em>.. Estará nas telonas hoje Tickle, uma animação feita pela Cisney, vivida por personagens animados extremamente iguais aos humanos. A história de suspense é sobre uma mulher que descobre ser enganada pelo marido. O fato curioso sobre o filme, é que é impossível identificar a diferença entre atores reais e as animações. A técnica é vista como promissora e promete revolucionar a indústria cinematográfica criando a licença de uso do rostos dos atores, ao invés de pagar fortunas para incorporá-los no elenco, e a possibilidade de incluir atores que não estão mais vivos ou que já estão aposentados às produções.</em>"</p>
        <p>"<em>Agora, na seção internacional, fala-se que amanhã é o último dia para circulação de Euros em espécie para os países da União Européia. Devido ao crescimento do uso de Smart Cards, a decisão de remover cédulas e moedas do mercado foi tomada há 5 anos atrás e na próxima sexta feira encerra-se o prazo. Estabelecido em 1999, o Euro entrou em circulação em 2002 na União Européia e, de agora em diante, estará disponível apenas em museus.</em>"</p>
        <p>"<em>Nasceu esta manhã na cidade de Djambala, República do Congo, a pessoa de número 9000000000 no planeta. A mãe Ngasanya Ngollo, de 23 anos, disse que estava muito feliz com a chegada de Titi, como será chamada a recém nascida.</em>"</p>        		

		<p>"<em>Analistas reportaram que...</em>"</p>
		
		<p id="problem-block">Alguma coisa não está certa...</p>
		{% if respondent.installed_health_monitor == True %}
		{% if respondent.installed_hospital_assist  == True %}
		<p>Uma equipe de emergência está a disposição para ser enviada para sua residência.</p>
		{% endif %}	
		{% else %}
		<p>Você precisa de socorro o mais rápido possível, o que deseja fazer?</p>
		{% endif %}	
		
        {% endblock %}

		{% block options %}
		{% if respondent.installed_health_monitor == True %}
	        {% if respondent.installed_hospital_assist == True %}
	        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_14a')">
	             Confirmar equipe de emergência
	        </button>
			{% else %}
	        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_13a')">
	             Solicitar equipe de emergência
	        </button>
	        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_13b')">
	             Ligar para alguém
	        </button>
	        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_13c')">
	             Buscar socorro
	        </button>
			{% endif %}	
		{% else %}
	        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_14b')">
	        	<span class="glyphicon glyphicon-warning-sign"></span> Ops :(
	        </button>
        {% endif %}
        {% endblock %}
        {% block scripts %}
        <script type="text/javascript">

        $(function() {
        	var height = $(window).height();

        	var scroller1 = new ScrollToggle($('#problem-block').position().top - height, function () {
                //console.log("Element #1 has been reached.");
                {% if respondent.installed_health_monitor %}
	                showNotification('danger','<strong>Notificação do <em>Health Monitor</em></strong>: Seus sinais vitais estão irregulares!');
				{% endif %}
                	
                setTimeout(function() {
                	$("#block-history").css({'color': 'rgba(255,255,255,0)', 'text-shadow': '0 0 8px #000'});
                	
                }, 3000);
                
                setTimeout(function() {
                	$("#block-history").css({'color': '#000', 'text-shadow': 'none'});	                	
                }, 4000);
                
                setTimeout(function() {
                	$("#block-history").css({'color': 'rgba(255,255,255,0)', 'text-shadow': '0 0 8px #000'});
                	
                }, 6000);
                
                setTimeout(function() {
                	$("#block-history").css({'color': '#000', 'text-shadow': 'none'});	                	
                }, 8500);
	            
                setTimeout(function() {
                	$("#block-history").css({'color': 'rgba(255,255,255,0)', 'text-shadow': '0 0 8px #000'});
                	
                }, 10000);
                
                setTimeout(function() {
                	$("#block-history").css({'color': '#000', 'text-shadow': 'none'});	                	
                }, 11000);
	                
            }, function () {
                //console.log("Element #1 is gone.");
            });

        });
        </script>       
    	{% endblock scripts%}
    </body>
</html>

