<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Você escolheu solicitar uma equipe de emergência conveniada ao <em>Monitor Health</em>.</p>
        {% if respondent.installed_hospital_assit %}
        <p>Para utilizar este serviço é necessário pagar uma taxa de <span class="currency">1500,00</span>, além dos custos hospitalares.</p>
        {% else %}
        <p>Este serviço já havia sido adquirido por você no ato da assinatura.</p>
        {% endif %}
		
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_14a')">
             Confirmo o interesse
        </button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_14b')">
             Cancelar solicitação
        </button>
        {% endblock %}
    </body>
</html>

