<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               
		{% load widget_tweaks %}
		
        {% block history %}
		
		<div id="phone-block">
        <p>Você escolheu ligar para alguém.</p>
        <p>Digite o telefone:</p>
		<form class="form-horizontal" role="form" id="call_form">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
					{% csrf_token %}
					{{call_form.phone_number|add_class:"form-control"|add_class:"text-right" }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
				<div class="btn-group btn-group-justified">	
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('1')">1</button>
				  </div>
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('2')">2</button>
				  </div>
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('3')">3</button>
				  </div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
				<div class="btn-group btn-group-justified">
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('4')">4</button>
				  </div>
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('5')">5</button>
				  </div>
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('6')">6</button>
				  </div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
				<div class="btn-group btn-group-justified">
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('7')">7</button>
				  </div>
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('8')">8</button>
				  </div>
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('9')">9</button>
				  </div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
				<div class="btn-group btn-group-justified">
				  <div class="btn-group">
				    <button type="button" class="btn btn-default">*</button>
				  </div>
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="typeNumber('0')">0</button>
				  </div>
				  <div class="btn-group">
				    <button type="button" class="btn btn-default">#</button>
				  </div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
				<div class="btn-group btn-group-justified">
				  <div class="btn-group">
				    <button type="button" class="btn btn-default" onclick="clearNumber()">Limpar</button>
				  </div>
				  <div class="btn-group">
				    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-earphone"></span> Ligar</button>
				  </div>
				</div>
			</div>
		</div>
		</form>
		</div>
        {% endblock %}

		{% block options %}
        <button id="btn-call" type="button" class="btn btn-default  btn-lg" onclick="setValues('next_14a')">
             Seguir
        </button>
        {% endblock %}
        
        {% block scripts %}
        <script type="text/javascript">
	        function asyncSubmit(id, url) {
				var data = $(id).serialize(); // serializes the form's elements

			    $.ajax({
			           type: "POST",
			           url: url,
			           data: data,
			           success: function(data)
			           {
			        	   $("#phone-block").html("<p><strong>Ligação completada com sucesso!</strong></p>");
			        	   $('#btn-call').show();
			           },
			           error: function() {
			        	   location.reload();
			        	}
			         });
	
			    return false; // avoid to execute the actual submit of the form.
			}
        
	        function typeNumber(number) {
	        	console.log(number)
	        	$("#id_phone_number").val($("#id_phone_number").val() + number);
	        }
	        
	        function clearNumber() {
	        	$("#id_phone_number").val("");
	        }
	        
        	$(function(){
        		$("#btn-call").hide();
        		$("#call_form").submit(function() { return  asyncSubmit("#call_form", "{% url 'history.views.call' %}"); });
        	});
        </script>
        {% endblock %}
    </body>
</html>
