<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>"<em>Olá... Bem vindo de volta... Por muito pouco você não partia dessa para melhor, hein? Graças ao <em>Health Monitor</em> você pôde ser socorrido a tempo. Você se lembra quem é? Sabe me dizer seu nome?</em>"</p>

		<div id="name-answer">
        <p>_ Meu nome é <input type="text" id="username" class="form-control col-md-4"  placeholder="Digite seu nome e clique fora do campo de texto"></p>
        </div>
        
        <p>"<em>Você está no Hospital Saint Joseph, no centro de Privus.</em>"</p>

        {% if respondent.installed_hospital_assist %}
        <p>"<em>Nossa equipe recebeu uma notificação de que havia algo errado com seus sinais vitais e uma ambulância foi enviada para sua casa.</em>"</p>
        {% else %}
        
        	{% if respondent.installed_health_monitor %}		        		
       		{% if respondent.called_to == "190" %}
       		<p>"<em>No desespero você acabou ligando para a Polícia Militar.</em>"</p>
       		{% elif respondent.called_to == "192" %}
       		<p>"<em>No desespero você acabou ligando para o Serviço Público de Remoção de Doentes (ambulância).</em>"</p>
       		{% elif respondent.called_to == "193" %}
       		<p>"<em>No desespero você acabou ligando para o Corpo de Bombeiros.</em>"</p>
       		{% elif respondent.called_to == "194" %}
       		<p>"<em>No desespero você acabou ligando para a Polícia Federal.</em>"</p>
       		{% elif respondent.called_to == "197" %}
       		<p>"<em>No desespero você acabou ligando para a Polícia Civil.</em>"</p>
       		{% else %}
       		<p>"<em>No desespero você acabou ligando para um civil, que anotou seu telefone e ligou para a emergência.</em>"</p>
       		{% endif %}	
        	<p>"<em>Eles rastrearam seu telefone e descobriram sua localização. Ainda bem que você havia habilitado o serviço; foi uma sábia escolha.</em>"</p>
        	{% else %}
       		<p>"<em>Foi difícil descobrir sua localização. Como você não habilitou o serviço de localização, uma equipe técnica teve que entrar em ação, para que então pudessem descobrir e rastrear seu IMEI e, finalmente, achar sua localização.</em>"</p>
        	{% endif %}
        	
        	<p>"<em>Quando chegaram, te encontraram caído em frente ao sofá, TV ligada, parte de um sanduíche jogado ao seu lado.O atendimento foi muito rápido, ainda bem que foram notificados em tempo.</em>"</p>
        {% endif %}
        
        <p>"<em>Você já foi medicado e está se recuperando. Provavelmente terá que ficar mais um ou dois dias aqui em observação, mas posso assegurar que seu quadro é estável e você não corre mais riscos.</em>"</p>
		
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_15a')">
             <span class="glyphicon glyphicon-road"></span> Ver resultado
        </button>
        {% endblock %}
        
        {% block scripts %}
         <script type="text/javascript">
         	$( "#username" ).blur(function() {
         		{% if respondent.name != None %}
         			if ($( "#username" ).val() == '{{ respondent.name}}') {
         				if ($( "#username" ).val().length > 0) {
             				$("#name-answer").html("<p>_ Meu nome é " +$( "#username" ).val()  + "...</p><p>\"<em>Vê-se que não houve grande danos à sua memória.</em>\"</p>");
    	         		} else {
    	         			$("#name-answer").html("<p>_ Não lembro meu nome...</p><p>\"<em>Fique calmo tudo está sob controle.... ainda temos alguns outros exames a serem feitos, mas logo você ficará bem.</em>\"</p>");
    	         		}
         			} else {
         				$("#name-answer").html("<p>\"<em>Fique calmo tudo está sob controle.... ainda temos alguns outros exames a serem feitos, mas logo você ficará bem.</em>\"</p>");
         			}
         		{% else %}
	         		if ($( "#username" ).val().length > 0) {
         				$("#name-answer").html("<p>_ Meu nome é " +$( "#username" ).val()  + "...</p><p>\"<em>Fique calmo " +$( "#username" ).val()  + " você não tinha nenhuma documentação quando foi atendido, mas se vê que não houve grande danos à sua memória.</em>\"</p>");
	         		} else {
	         			$("#name-answer").html("<p>_ Não lembro meu nome...</p><p>\"<em>Fique calmo tudo está sob controle.... ainda temos alguns outros exames a serem feitos, mas logo você ficará bem.</em>\"</p>");
	         		}
         		{% endif %}
        	  
        	});
         </script>
         {% endblock %}
    </body>
</html>

