<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
		<p>Você até que tentou buscar socorro...</p>
        <p>Você começou a sentir tontura e muita dor no peito. Como estava sozinho em casa, ninguém pôde prestar socorro.</p>
        <p>Você saiu cambaleante pela rua e tentou usar o carro do vizinho que estava estacionado logo a frente. Sem muitas chances, você acabou desmaiando.</p>
        <p>Não havia como alguém descobrir o que estava acontecendo, já que você era novo na cidade e não conhecia ou era conhecido por ninguém. Você foi encontrado morto pelos vizinhos. Horas depois descobriu-se que você teve um infarto, agravado pelo diabetes, colesterol e pela vida sedentária.</p>
		
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_15a')">
             <span class="glyphicon glyphicon-road"></span> Ver resultado
        </button>
        {% endblock %}

    </body>
</html>

