<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <h4>Como você se saiu</h4>
        <hr>
        
        <p>
        Você finalizou a história com <label class="score"><span class="currency">{{ score.money|floatformat:2 }}</span></label>.
        Você terminou a história com mais dinheiro do que <em>{{money_stat|floatformat:1}}%</em> dos demais participantes da pesquisa.
        </p>

		<p>
		Sua influência foi de <strong>{{ normalized_score_influence }}</strong>, numa faixa de <!---15 a 45 -->0 a 60, assim como <em>{{influence_stat|floatformat:1}}%</em> dos participantes, indicando uma postura
		{% if score.influence < 0 %} 
		fechada 
		{% elif score.influence > 0 %}
		bem aberta e receptiva
		{% else %}
		 neutra
		{% endif %}
		quanto ao seu envolvimento/comprometimento no mundo virtual, no contexto da história.
		</p>

		<p>
		Com suas escolhas você assumiu <strong>{{ score.risk }}</strong> pontos de risco, em uma faixa de 0 a 80, da mesma forma que <em>{{risk_stat|floatformat:1}}%</em> dos participantes. Isso representa o quanto a proposição de valor do serviço
		consumido teve maior relevância para você, mesmo sendo necessário algum nível de exposição de seus dados.
		</p>
		<hr>
		<p><strong>Muito obrigado por participar!</strong> E se quiser saber um pouco mais sobre o Go!SIP, <a alt="Sobre o Go!SIP" href="/about">clique aqui</a>.</p>
        {% endblock %}

		{% block score %}
		{% endblock %}
    </body>
</html>

