<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}

        {% block history %}
        <p>_ "<em>Suas feições me dizem que você vem de além das fronteiras do Mar Prestos, terras que estão sendo destruídas na guerra pela posse dos [escassos] recursos hídricos da região, hã? OK. Deixe-me ver sua documentação...</em>"</p>
        <p>Você aguarda apreensivo enquanto ele analisa sua documentação.</p>
                
        <p>_ "<em>Bom, pelo que vejo aqui está tudo certo. Seja bem vindo a Privus. Ah! E já ia me esquecendo! Antes de mais nada, certifique-se de sempre levar seu dispositivo móvel, <em>smartphone</em> ou <em>tablet</em>, com você; caso seja necessário contatá-lo ou você queira usar algum serviço, ele será essencial.</em>"</p>
        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_3')">
             Saber mais sobre Privus
        </button>
        {% endblock %}

    </body>
</html>
