<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}

        {% block history %}
        <p>Até tempos atrás, Privus sempre esteve de braços abertos para receber pessoas de diferentes países e culturas. Até que essa confiança foi traída.</p>
        <p>Devido ao ataque terrorista que destruiu nosso país e nos forçou a reconstruir do nada, não permitimos a entrada de estrangeiros que não submetam suas informações pessaois à nossa averiguação.</p>
        <p>Você será levado até a sala de longa espera enquanto formalizamos sua deportação.</p>
                
        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_15a')">
             <span class="glyphicon glyphicon-road"></span> Ver resultado
        </button>
        {% endblock %}

    </body>
</html>
