<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}
        {% load widget_tweaks %}
        {% load static %}

        {% block history %}
        <h3>Configurações</h3>
        
        <p>Aqui você pode configurar cada grupo de dados de forma individual.</p>
        <p>Certifique-se de configurar a importância de cada grupo de dados, para influenciar na sua experiência nas próximas etapas.</p>
        <p>Atente-se para informar aqui o quão importante você considera cada perfil seu - dados pessoais, financeiro, localização, médicos e relacionamento - representando o quão privado você o considera.</p>
        <p>Você deve preencher os campos assinalados com <strong>(*)</strong>.</p>
        <hr>
        
        <script type="text/javascript">
			setTimeout(function(){showNotification('info','<strong>ATENCÃO</strong>: Não se esqueça de salvar suas alterações para cada grupo de dados!')}, 3000);
		</script>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Dados Pessoais</h3>
			</div>
			<div class="panel-body">
			
				<form class="form-horizontal" role="form" id="personal_data_form">
				{% csrf_token %}
					
					<div class="row">
					{% if respondent.photo %}
						<div class="col-md-2 col-sm-2">
							<img alt="" src="{{respondent.photo}}" class="img-responsive">
						</div>
						<div class="col-md-10 col-sm-10">
						{% else %}
					  	<div class="col-md-12 col-sm-12">
					  	{% endif %}
						<div class="form-group">
							<label class="col-sm-2 control-label">Nome (*)</label>
							<div class="col-sm-10">
								{{  personal_data_form.name|add_class:"form-control"}}
							</div>
						</div>
					  						
						<!-- Email -->
						<div class="form-group">
							<label class="col-sm-2 control-label">Email (*)</label>
							<div class="col-sm-10">
								{{  personal_data_form.email|add_class:"form-control"}}
							</div>
						</div>
						</div>
					</div>
									  	
				  	<hr>
				  	
					<div class="form-group">
						<label class="col-sm-5 control-label">De 1 a 100, o quanto seus dados pessoais importam para você?</label>
						<div class="col-sm-offset-1 col-sm-6">
							{{  personal_data_form.ipi|add_class:"slider"}}
						</div>
					</div>
				  					  	
					{{  personal_data_form.mode}}
					{{  personal_data_form.exposure}}
					
					<div class="form-group">
					   <div class="col-sm-12 text-right">
					     <button type="submit" class="btn btn-info  btn-lg">
				             <span class="glyphicon glyphicon-ok-sign"></span> Salvar
				        </button>
					   </div>
					 </div>
				  
				</form>
			</div>
		</div>
        
        <div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Dados Financeiros</h3>
			</div>
			<div class="panel-body">
				<p><strong>Lançamentos na sua conta bancária</strong> </p>
				<table class="table table-condensed table-striped bank-statement">
				  <thead>
				    <tr>
				      <th>Data</th>
				      <th>Histórico</th>
				      <th>Docto.</th>
				      <th>Valor (<span class="currency"></span>)</th>
				      <th>Saldo (<span class="currency"></span>)</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>21/05/2014</td>
				      <td>ABERTURA DA CONTA</td>
				      <td>000001</td>
				      <td class="text-right">0,00</td>
				      <td class="text-right">0,00</td>
				    </tr>
				    <tr>
				      <td>22/05/2014</td>
				      <td>TRANS RECEBIDO DIST GOV PRIVUS (BLOQUEADO)</td>
				      <td>000002</td>
				      <td class="text-right">200.000,00</td>
				      <td class="text-right">200.000,00</td>
				    </tr>
				  </tbody>
				  <tfoot>
				    <tr>
				      <td>Saldo de Conta PrivusMax</td>
				      <td></td>
				      <td></td>
				      <td class="text-right"></td>
				      <td class="text-right">200.000,00</td>
				    </tr>
				    <tr>
				      <td>Saldo Bloqueado</td>
				      <td></td>
				      <td></td>
				      <td class="text-right"></td>
				      <td class="text-right">200.000,00</td>
				    </tr>
				    <tr>
				      <td>Saldo Disponível</td>
				      <td></td>
				      <td></td>
				      <td class="text-right"></td>
				      <td class="text-right">0,00</td>
				    </tr>
				  </tfoot>
				</table>
				
				<p><strong>Lançamentos do seu cartão</strong> </p>
				<table class="table table-condensed table-striped bank-statement">
				  <thead>
				    <tr>
				      <th>Data</th>
				      <th>Histórico da despesa</th>
				      <th>Valor (<span class="currency"></span>)</th>
				    </tr>
				  </thead>
				  
				  <tbody>
				    <tr>
				      <td colspan="3" class="text-center">Nenhuma entrada disponível</td>
				    </tr>
				    <!-- <tr>
				      <td>22/05/2014</td>
				      <td>TRANS RECEBIDO DIST GOV PRIVUS</td>
				      <td class="text-right">200.000,00</td>
				    </tr> -->
				  </tbody>
				  
				  <tfoot>
				    <tr>
				      <td>Saldo Parcial desta Fatura</td>
				      <td></td>
				      <td class="text-right">0,00</td>
				    </tr>
				    <tr>
				      <td>Limite Total do Cartão de Crédito</td>
				      <td></td>
				      <td class="text-right">2.000,00</td>
				    </tr>
				    <tr>
				      <td>Limite Disponível</td>
				      <td></td>
				      <td class="text-right">2.000,00</td>
				    </tr>
				  </tfoot>
				</table>
				
				<hr>
				
				<form class="form-horizontal" role="form" id="financial_data_form">
				  	{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-5 control-label">De 1 a 100, o quanto seus dados financeiros importam para você?</label>
						<div class="col-sm-offset-1 col-sm-6">
							{{  financial_data_form.ipi|add_class:"slider"}}
						</div>
					</div>
				  					  	
					{{  financial_data_form.mode}}
					{{  financial_data_form.exposure}}
					
					<div class="form-group">
					   <div class="col-sm-12 text-right">
					     <button type="submit" class="btn btn-info  btn-lg">
				             <span class="glyphicon glyphicon-ok-sign"></span> Salvar
				        </button>
					   </div>
					 </div>
				</form>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Dados de Consumo</h3>
			</div>
			<div class="panel-body">
				<p><strong>Histórico de Consumo</strong> </p>
				<table class="table table-condensed table-striped bank-statement">
				  <thead>
				    <tr>
				      <th>Data</th>
				      <th>Histórico</th>
				      <th>Local</th>
				      <th>Valor (<span class="currency"></span>)</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>02/07/2014</td>
				      <td>MAR PRESTOS SOUVENIRS</td>
				      <td>Aeroporto Internacional Prestos</td>
				      <td class="text-right">123,45</td>
				    </tr>				  
				  </tbody>
				  <tfoot>
				    <tr>
				      <td>Total Gasto</td>
				      <td></td>
				      <td class="text-right"></td>
				      <td class="text-right">123,45</td>
				    </tr>
				    <tr>
				      <td>Qualificação Imediata de Perfil (QIP)</td>
				      <td></td>
				      <td class="text-right" colspan="2"><em>Conservador</em> (Informação disponível insuficiente)</td>
				    </tr>
				    <tr>
				      <td>Índice de Consumo</td>
				      <td></td>
				      <td class="text-right"></td>
				      <td class="text-right">0,23</td>
				    </tr>
				  </tfoot>
				</table>

				<hr>
				
				<form class="form-horizontal" role="form" id="consumption_data_form">
				  	{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-5 control-label">De 1 a 100, o quanto seus dados de consumo importam para você?</label>
						<div class="col-sm-offset-1 col-sm-6">
							{{  consumption_data_form.ipi|add_class:"slider"}}
						</div>
					</div>
				  					  	
					{{  consumption_data_form.mode}}
					{{  consumption_data_form.exposure}}
					
					<div class="form-group">
					   <div class="col-sm-12 text-right">
					     <button type="submit" class="btn btn-info  btn-lg">
				             <span class="glyphicon glyphicon-ok-sign"></span> Salvar
				        </button>
					   </div>
					 </div>
				</form>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Localização</h3>
			</div>
			<div class="panel-body">
			<p><strong>Histórico de localização</strong></p>
				<table class="table table-condensed table-striped bank-statement">
				  <thead>
				    <tr>
				      <th>Data</th>
				      <th>Local</th>
				      <th>Coordenadas</th>
				    </tr>
				  </thead>
				  
				  <tbody>
				    <tr>
				      <td>19/06/2014 08:12</td>
				      <td>AEROPORTO RON RIVERST, PRIVUS</td>
				      <td>[-25.000, -45.625]</td>
				    </tr>
				  	<tr>
				  	  <td>19/06/2014 09:23</td>
				      <td>SERVIÇO DE IMIGRAÇÃO,  PRIVUS</td>
				      <td>[-24.935, -41.984]</td>
				    </tr>
				  </tbody>
				  <tfoot>
				    <tr>
				      	<td colspan="3">Inidivíduo aguardando autorização para entrada em Privus</td>
				    </tr>
				  </tfoot>
				</table>
				
				<hr>
				
				<form class="form-horizontal" role="form" id="location_data_form">
				{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-5 control-label">De 1 a 100, o quanto seus dados de localização importam para você?</label>
						<div class="col-sm-offset-1 col-sm-6">
							{{  location_data_form.ipi|add_class:"slider"}}
						</div>
					</div>
				  					  	
					{{  location_data_form.mode}}
					{{  location_data_form.exposure}}
					
					<div class="form-group">
					   <div class="col-sm-12 text-right">
					     <button type="submit" class="btn btn-info  btn-lg">
				             <span class="glyphicon glyphicon-ok-sign"></span> Salvar
				        </button>
					   </div>
					 </div>
				</form>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Dados Médicos</h3>
			</div>
			<div class="panel-body">
				
				<p><strong>Histórico de sinais vitais</strong> </p>
				<table class="table table-condensed table-striped bank-statement">
				  <thead>
				    <tr>
				      <th>Data/Hora</th>
				      <th>Respiração</th>
				      <th>Pulso</th>
				      <th>Temperatura (°C)</th>
				      <th>Pressão (mmHg)</th>
				    </tr>
				  </thead>
				  
				  <tbody>
				    <tr>
				      <td colspan="5" class="text-center">Nenhuma entrada disponível</td>
				    </tr>
				    <!-- <tr>
				      <td>22/05/2014</td>
				      <td>TRANS RECEBIDO DIST GOV PRIVUS</td>
				      <td class="text-right">200.000,00</td>
				    </tr> -->
				  </tbody>
				  
				  <tfoot>
				    <tr>
				      	<td colspan="5"><strong>Aviso:</strong> Indivíduo sem monitoramento.</td>
				    </tr>
				  </tfoot>
				</table>
				
				<hr>
				
				<form class="form-horizontal" role="form" id="medical_data_form">
				{% csrf_token %}
					
					<div class="form-group">
						<label class="col-sm-3 control-label">Nascido em</label>
						<div class="col-sm-3">
							{{ medical_data_form.birth_date|add_class:"form-control"|add_class:"date" }}
						</div>

						<label class="col-sm-3 control-label">Sexo</label>
						<div class="col-sm-3">
							{{ medical_data_form.gender|add_class:"form-control" }}
						</div>
					</div>
					
					<hr>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">De 1 a 100, o quanto seus dados médicos importam para você?</label>
						<div class="col-sm-offset-1 col-sm-6">
							{{  medical_data_form.ipi|add_class:"slider"}}
						</div>
					</div>
				  					  	
					{{  medical_data_form.mode}}
					{{  medical_data_form.exposure}}
					
					<div class="form-group">
					   <div class="col-sm-12 text-right">
					     <button type="submit" class="btn btn-info  btn-lg">
				             <span class="glyphicon glyphicon-ok-sign"></span> Salvar
				        </button>
					   </div>
					 </div>
				</form>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Relacionamentos</h3>
			</div>
			<div class="panel-body">
				<p><strong>Amigos</strong> </p>
				<table class="table table-condensed table-striped bank-statement">
				  <thead>
				    <tr>
				      <th>Nome</th>
				    </tr>
				  </thead>
				  
				  <tbody>
				  	{% if friends %}
					{% for friend in friends %}
					<tr>
				      	{% if friend.name %}
				      	<td>{{friend.name}} (<strong>{{friend.user.username}}</strong>)</td>
				      	{% else %}
				      	<td>Nome não informado (<strong>{{friend.user.username}}</strong>)</td>
				      	{% endif %}
				    </tr>
					{% endfor %}
					{% else %}
				    <tr>
				      <td class="text-center">Nenhuma entrada disponível</td>
				    </tr>
					{% endif %}				    
				  </tbody>
				  
				  <tfoot>
				    <tr>
						<td colspan="2"><strong>Dica:</strong> Amigos sempre podem ajudar, em diversas situações.</td>
				    </tr>
				  </tfoot>
				</table>
				
				<hr>
				<form class="form-horizontal" role="form" id="relationship_form">
				{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-3 control-label">Login do amigo</label>
						<div class="col-sm-9">
							{{  relationship_form.name|add_class:"form-control"}}
						</div>
					</div>
				  
				  <div class="form-group">
				  		<div class="col-sm-9 col-md-offset-3">
				  			<p style="font-size: 90%;"><small>Se você tem um amigo(a)/conhecido(a) que você sabe que está participando da pesquisa, pergunte a ele(a) seu login e adicione-o(a) como seu amigo aqui!</small></p>
				  		</div>
				  </div>
				  
					<div class="form-group">
					   <div class="col-sm-12 text-right">
					     <button type="submit" class="btn btn-info  btn-lg">
				             <span class="glyphicon glyphicon-plus-sign"></span> Adicionar
				        </button>
					   </div>
					 </div>
				</form>
				
				<hr>
				
				<form class="form-horizontal" role="form" id="relationship_data_form">
				{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-5 control-label">De 1 a 100, o quanto seus dados de relacionamentos importam para você?</label>
						<div class="col-sm-offset-1 col-sm-6">
							{{  relationship_data_form.ipi|add_class:"slider"}}
						</div>
					</div>
				  					  	
					{{  relationship_data_form.mode}}
					{{  relationship_data_form.exposure}}
					
					<div class="form-group">
					   <div class="col-sm-12 text-right">
					     <button type="submit" class="btn btn-info  btn-lg">
				             <span class="glyphicon glyphicon-ok-sign"></span> Salvar
				        </button>
					   </div>
					 </div>
				</form>
				
				<hr>
			</div>
		</div>
        {% endblock %}
        
        {% block options %}
		<button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_2a')">
             Continuar
        </button>
        {% endblock %}

		{% block scripts %}
		<script type="text/javascript">
		
			function asyncSubmit(id, url) {
				var data = $(id).serialize(); // serializes the form's elements
				
				$(id).html("<div class=\"col-sm-12 text-center\"><img src=\"{% static 'img/loading.gif' %}\" /></div>");
				
			    $.ajax({
			           type: "POST",
			           url: url,
			           data: data,
			           success: function(data)
			           {
			               location.reload();
			           },
			           error: function() {
			        	   location.reload();
			        	}
			         });
	
			    return false; // avoid to execute the actual submit of the form.
			}
		
			$(function () {
				$("#personal_data_form").submit(function() { return  asyncSubmit("#personal_data_form", "{% url 'identity.views.save_personal_settings' %}"); });
				$("#financial_data_form").submit(function() { return  asyncSubmit("#financial_data_form", "{% url 'identity.views.save_financial_settings' %}"); });
				$("#location_data_form").submit(function() { return  asyncSubmit("#location_data_form", "{% url 'identity.views.save_location_settings' %}"); });
				$("#relationship_data_form").submit(function() { return  asyncSubmit("#relationship_data_form", "{% url 'identity.views.save_relationship_settings' %}"); });
				$("#medical_data_form").submit(function() { return  asyncSubmit("#medical_data_form", "{% url 'identity.views.save_medical_settings' %}"); });
				$("#relationship_form").submit(function() { return  asyncSubmit("#relationship_form", "{% url 'identity.views.save_friend' %}"); });
				$("#consumption_data_form").submit(function() { return  asyncSubmit("#consumption_data_form", "{% url 'identity.views.save_consumption_settings' %}"); });
				
				$('.slider').slider({
					min:1,
					max:100,
					formater: function(value) {
						return getLabel(value);
					}
				});
				
				$('#personal_data_form #id_ipi').slider('setValue', {{personal_data_form.ipi.value}});
				$('#financial_data_form #id_ipi').slider('setValue', {{financial_data_form.ipi.value}});
				$('#location_data_form #id_ipi').slider('setValue', {{location_data_form.ipi.value}});
				$('#relationship_data_form #id_ipi').slider('setValue', {{relationship_data_form.ipi.value}});
				$('#medical_data_form #id_ipi').slider('setValue', {{medical_data_form.ipi.value}});
				$('#consumption_data_form #id_ipi').slider('setValue', {{consumption_data_form.ipi.value}});
			});
			
			function getLabel(value){
				var text = value + ': ';
				
				if (value < 20) {
					text += 'Não me importo';
				} else if (value < 40) {
					text += 'Quase não me importo';
				} else if (value < 60) {
					text += 'Me importo pouco';
				} else if (value < 80) {
					text += 'Me importo';
				} else {
					text += 'Me importo muito';
				}
				
				return text;
			}
		</script>
		
		{% endblock %}
    </body>
</html>
