<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% extends "history:history/base.html" %}   
        {% load static %}            

        {% block history %}
        <p>"<em>Bom, acho que você já deve ter ouvido algo sobre nosso país e nossa cidade, mas ainda assim quero deixar claro para você como anda a situação por aqui.</em>"</p>
        <p>"<em>Secreta, nosso querido país, já não é a mesma coisa desde 2015, quando o governo assumiu publicamente que monitorava toda e qualquer transação realizada por meios convencionais ou eletrônicos. A notícia causou revolta generalizada no país, acentuando a confusão gerada pelas constantes denúncias de corrupção na alta cúpula governamental. As coisas se tornaram meio hostis por aqui.</em>"</p>
        <p>"<em>E como se não bastasse o impacto que a economia sofreu por conta das mazelas políticas, o país foi assolado por um ataque terrorista, motivado pela existência esclarecida das indústrias de armamento biológico e nuclear instaladas aqui.</em>"</p>
        <p>"<em>Hoje, dois anos depois de o caos ter se instaurado, o país está saindo da fase de reconstrução. Privus foi, certamente a cidade mais atingida pelo que ocorreu, por conta de ser o centro político e econômico do país. A metrópole é reconhecida pela produção científico-tecnológica e isso representa muito por aqui; os privenses têm orgulho de afirmar que foi essa capacidade de gerar conhecimento aplicado que ajudou a cidade a se reerguer tão depressa, enquanto as cidades menos favorecidas ainda se lamentam na penúria.</em>"</p>
        <p>"<em>Quem chega por aqui nem nota que há pouco tempo tudo não passava de ruínas, como uma selva de cimento - sólida e cinzenta - destruída. A praça central agora está tão linda quanto sempre fora; a catedral pode ser vista desde o pórtico de entrada da cidade, elegante e imponente com suas paredes de pedra e vitrais coloridos com imagens angelicais. As ruas estão de volta à organização habitual. Prédios, lojas, escolas, hospitais, tudo foi projetado, construído do nada que restara, para comportar tecnologia, conforto e funcionalidade.</em>"</p> 
        <p>"<em>Não é de se espantar que aqui até mesmo os postes estão online 24/7.</em>"</p>
        <p>"<em>Ninguém mais ousa perguntar o porquê de tanto investimento em infraestrutura de tecnlogia. Desde que a população começou a vivenciar os benefícios da conectividade, tudo ficou menos burocrático e mais cômodo. Ninguém aqui precisa perder tempo com papéis e presença física em lugar algum. Grande parte dos serviços são digitais e muito bem integrados. Você, por exemplo, não ousaria sair de casa e passar pela Condessa de Sá, avenida principal da cidade, em pleno dia de chuva sem uma pesquisa online sobre como andam as coisas por lá, se o tráfego está liberado, se é um dia daqueles que os carros estão proibidos e os metrôs funcionam em esquema especial para atender a população, visandodiminuir a pegada de carbono da cidade ou se o tráfego foi redirecionado por causa de algum acidente.</em>"</p>
        <p>"<em>Mas, tudo tem seu preço.</em>"</p>
        <p>"<em>Talvez não a praça, a catedral ou o pórtico, nisso tudo a cidade nem parece que passou pelo que passou. Mas o povo, este permanece assustado e temeroso. Ninguém mais se sentia seguro e isso refletiu nas ações do governo em burocratizar a entrada de estrangeiros no país. Como consequência, mais do que antes, privacidade por aqui troca-se por segurança, conforto e comodidade.</em>"</p>
        <p>"<em>Em Privus, nada é tão particular. Sua cordialidade, somada à sua rotina e toda a sorte de monitoramento a que você está exposto podem dizer muito sobre você. Como um bom forasteiro você deve estar se perguntando: "Muito, o quanto?". Bom, que tal se eu te disser que o prefeito Garcia Costa - mesmo sendo tão presente e dedicado à família - descobriu, através do <em>Goucipi News</em> que a própria filha estava grávida, graças à combinação de termos de buscas que ela utilizou em seu computador pessoal, frequência com ela ia ao banheiro no colégio e algumas alterações hormonais identificadas na rotineira higiene matinal, graças ao <em>Health Mirror</em> - construído com tecnologia e conhecimento locais, a propósito - que faz um checkup nos sinais vitais e alguns outros testes básicos de alterações corporais. Acho que dá pra ter noção do que digo, não?</em>"</p>
        <p>"<em>Bom, esse foi um... Ops! Acho que esse barulho é meu <em>Citizen Monitor</em>... E veja, acabo de receber aqui o histórico de localização dos habitantes... E olha quem está logo aqui... É você! Legal, não? Todas as autoridades têm acesso a um desses, que é para ajudar no caso de avaliarmos como está o fluxo pela cidade e agirmos em caso de alguma anormalidade.</em>"</p>
        <p id="sound-block">"<em>Por aqui também temos o <em>Privus Citizen</em>... é um aplicativo muito interessante para qualquer pessoa que esteja por aqui. Por ele você tem acesso ao Fakebook, uma rede social para você estar em contato constante com seus amigos e tudo o mais sobre eles, e o Twistter, um microblog que você fica por dento de diversos assuntos do seu interesse. São bem legais, quando puder, instale. Acho que você vai gostar.</em>"</p>
        <p>"<em>Voltando ao que estava dizendo, nada é tão privado por aqui. Às vezes penso que isso é bom, por que nos permite experimentar serviços mais personalizados e mais específicos para nossas necessidades; até os serviços públicos têm melhorado bastante. No entanto perdemos controle sobre o que sabem de nós... Bom, mas esse já é assunto para outra hora.</em>"</p>
        <p>"<em>Enfim, você está liberado para ir. Espero que tenha uma ótima estadia por aqui</em>"</p>
        <p>"<em>Ah! E já ia me esquecendo! Antes de mais nada, certifique-se de sempre levar seu dispositivo móvel com você, seu <em>smartphone</em> ou <em>tablet</em>; caso seja necessário contatá-lo ou você queria usar algum serviço, ele será essencial.</em>"</p>
        <p>O que você deseja fazer agora?</p>
        
        <audio id="audio"><source src="{% static 'sounds/notification.mp3' %}" type="audio/mpeg" /></audio>
        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_4a')">
             Fazer um <i>tour</i> pela cidade
        </button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_4b')">
             Ir para casa
        </button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_4c')">
             Quero me encontrar com meus amigos
        </button>
        {% endblock %}

		{% block scripts %}
        <script type="text/javascript">
        $(function() {
        	var height = $(window).height();

        	var scroller1 = new ScrollToggle($('#sound-block').position().top - height, function () {
                audio.play();
                showNotification('info','<strong>Notificação do <em>Privus Master Location</em></strong>: Sr. Guia Novos históricos de localização estão disponíveis para análise!')
            }, function () {
                //console.log("Element #1 is gone.");
            });

        });
        </script>       
    	{% endblock scripts%}
    </body>
</html>

