<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Um tour pela cidade? Excelente escolha!</p>
        <p>Bom, você é um novato por aqui, então imagina-se que você queira explorar até se perder de vista. Por precaução, é recomendável que você habilite o serviço de localização pois, caso você se perca, será mais fácil para se encontrar ou mesmo para pedir ajuda.</p>
      	<p>Além do serviço de localização, acho que você ainda não tem Fakebook. Quando as pessoas chegam por aqui sempre gostam de tirar fotos e compartilhar, conversar com seus amigos, ou mesmo fazer <em>check-in</em> nos lugares que acham mais interessante.</p>
        
		<div id="service-block" class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon-download pull-right"></span> Para saber mais ou instalar</div>
			<div class="panel-body">
				<div class="btn-group">
					<button class="btn btn-default" onclick="$('#modal-gosip-localizacao').modal('show');">
					Gugou  Maps
					</button>

					<button class="btn btn-default" onclick="$('#modal-gosip-fakebook').modal('show');">
					Fakebook
					</button>
				</div>
			</div>
		</div>
	    
		<p>Pronto? Então vamos começar nosso <em>tour!</em></p>
		<p>Bom, aqui nós estamos na entrada principal da cidade.</p>
		<p>Aqui à nossa esquerda fica banca do Sr. Pedro. Um senhor muito distinto que tem sempre muitas histórias da grande Guerra para contar. 'Bom dia Seu Pedro!'</p>
		<p>Neste prédio está instalado o Centro de Comando Policial de Privus. Aqui também fica o Centro de Monitoramento e Informação, de onde saem as decisões estratégicas para situações de risco, investigação de crimes, análises populacional para quaisquer interesses. Nós brincamos aqui que, se você não sabe alguma coisa sobre você mesmo, é aqui que você deve vir; eles com certeza saberão...</p>
		<p>Vamos andando. O Corpo de Bombeiros se instalou neste prédio tem pouco tempo. Ficou bem localizado até...</p>
		<p>Aqui também fica a maior academia da cidade. Sempre que passa por aqui, é nesta academia que o Presidente gosta de queimar suas calorias presidenciais. Ah! E veja, esse tipo de promoção <em>"Faça check-in, ganhe desconto"</em> é bem comum por aqui.. Às vezes me pergunto o que eles ganham com isso. Eu, particularmente, faço quantos checkins forem necessário para ganhar um descontão.</p>
		<p>Este é o Hospital Saint Joseph. Temos muito orgulho deste hospital. Além das inúmeras especialidades, eles usam um sistema no qual os médicos têm acesso a um conjunto de informações consolidadas sobre os pacientes vindo das mais diferentes fontes possíveis. É interessante por que o diagnóstico é muito preciso e os tratamento são específicos. Estando aqui você estará em boas mãos.</p>
		<p>Este prédio moderno e imponente aqui é a Casa do Governo de Privus; nome sofisticado para um lugar mais conhecido como prefeitura.</p>
		<p>Alí fica a Electric Privus, concessionária de energia elétrica local, na verdade só a parte administrativa está instalada ali. Eles estão implantando um sistema interessante de monitoramento de energia elétrica inteligente para residências que, de acordo com eles, vai ajudar os cidadãos a economizar energia.</p>
		<p>Este é meu ponto preferido da cidade... A Praça Central. Eu passo por aqui sempre que posso. Este ambiente de natureza que podemos presenciar aqui faz muito bem. Diferente da paisagem urbana a que estamos acostumados.</p>
		<p>Depois da reconstrução Privus ficou bem melhor quanto a essa coisa de natureza, mas ainda tem muito a melhorar. Depois que as ruas foram pavimentadas, o escoamento da água da chuva ficou bem prejudicado.</p>
		<p>Aqui fica uma das maiores hamburguerias de Privus, o BurgerQueen. Não sei se você é uma daquelas pessoas de hábitos alimentares radicais, mas para todo caso, vale a pena experimentar...</p>
		<p>Este aqui é o nosso museu. Acho que em alguns minutos ele estará aberto para visitação. Se quiser saber com mais detalhes por tudo que nossa cidade já passou, é por aqui que você deve começar.</p>
		<p>Aqui fica nossa tradicional padaria. Parada obrigatória de qualquer cidadão privense que se preze.</p>
		<p>Nosso Shopping, Maximus... Tem ótimas salas de cinema e também muitos restaurantes de comidas exóticas.</p>
		<p>Aqui é o hipermercado Carrefive; tem um aqui e outro quase na saída da cidade.</p>
		<p>Esse aqui é o clube esportivo da cidade. Todas as atividades aqui são gratuitas. Não sei se você gosta de praticar esportes, mas se gosta, esse é o lugar!</p>
		<p id="remove-services">Opa! Tem algo errado por aqui... Eu não passo por aqui com frequência, mas ali naquela esquina costumava ser o Vikings' Bar. E logo à esquerda deveria ter um... Ah não! Acho que estamos perdidos. Me empolguei demais na conversa e não reparei o caminho que fizemos.</p>
		<p>_ Como vamos voltar? Alguma ideia?</p>
        {% endblock %}
        
        {% block options %}
        {% if respondent.installed_gugou == True %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_5a')">
             Vamos usar o mapa
        </button>
        {% else %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_5b')">
             Deixa comigo, eu sei o caminho
        </button>
        {% endif %}
        {% if respondent.installed_fakebook == True %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_5c')">
             Quero pedir ajuda
        </button>
        {% endif %}
        {% endblock %}

 		{% block scripts %}
        <script type="text/javascript">
        $(function() {
        	var height = $(window).height();

        	var scroller1 = new ScrollToggle($('#remove-services').position().top - height, function () {
                //console.log("Element #1 has been reached.");
        		 $('#service-block').remove();
            }, function () {
                //console.log("Element #1 is gone.");
            });

        });
        </script>       
    	{% endblock scripts%}
    </body>
</html>



























