<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Imagino que a viagem tenha sido cansativa. Ok, você está liberado.</p>
        <p>Antes de partir, gostaria de sugerir que você instalasse o serviço de localização no seu <em>smartphone</em> ou <em>tablet</em>, para que fique mais fácil se localizar na cidade, ou mesmo te ajudar a ir para sua casa agora.</p>
        
        <div id="service-block" class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon-download pull-right"></span> Para saber mais ou instalar</div>
			<div class="panel-body">
				<div class="btn-group">
					<button class="btn btn-default" onclick="$('#modal-gosip-localizacao').modal('show'); ">
					Gugou  Maps
					</button>
				</div>
			</div>
		</div>

        {% endblock %}

        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_5d')">
             Seguir para casa
        </button>
        {% endblock %}

    </body>
</html>

