<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Você decide se encontrar com seus amigos. Como é recém chegado na cidade você decide usar alguma rede social para ver se encontra alguns dos seus amigos, que vierem muito antes de você, para que possam se encontrar e sair para se divertir. Além disso, você precisa saber o que tem para se fazer por aqui... restaurantes, bares, parques, academias, supermercados e tudo o mais que, vez ou outra, você venha a precisar. Tem o bom e velho jeito tradicional, do século passado, que é andar e andar e andar procurando o que você precisa, e tem a forma moderna: usar alguma rede social.</p>
        <p>Aqui em Privus, você tem duas opções muito interessantes de redes sociais: o Fakebook, no qual você pode estar em contato com seus amigos, artistas, grupos e tudo o mais, compartilhando fotos, textos, vídeos, e também pode encontrar o que a cidade oferece em termos de serviços, como restaurantes, mercados, oficinas mecânicas, bares, sempre destacando as opções indicadas pelos seus amigos</p>
	    <p>Outra opção interessante de rede social que temos aqui, é o Twistter. O Twistter é um microblog, onde você pode ficar por dentro de notícias, opiniões e discussões sobre assuntos do seu interesse e também pode divulgar e compartilhar suas opiniões e conteúdos que ache interessante. Mas tudo isso pode ser feito com no máximo 100 caracteres.</p>

		<div id="service-block" class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon-download pull-right"></span> Para saber mais ou instalar</div>
			<div class="panel-body">
				<div class="btn-group">
					<button class="btn btn-default" onclick="$('#modal-gosip-fakebook').modal('show');">
					Fakebook
					</button>
					<button class="btn btn-default" onclick="$('#modal-gosip-twistter').modal('show')">
					  Twistter
					</button>
				</div>
			</div>
		</div>
	    	    
        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_5e')">
             Continuar
        </button>
        {% endblock %}

    </body>
</html>

