<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Ufa... Ainda bem que você tinha habilitado o serviço de localização, o <em>Gúgou Maps</em>.</p>
        <p>Agora, basta irmos olhando onde estamos e onde queremos chegar, no mapa e compor nosso trajeto escolhendo uma das ruas oferecidas como opção.</p>

        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_6a')">
             Vamos nessa!
        </button>
        {% endblock %}

    </body>
</html>

