<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Aparentemente você decidiu que nós saberíamos nos virar sozinhos... Agora é por nossa conta e risco...</p>
        <p>Estamos perdidos, não temos o auxílio do serviço de localização disponibilizado na cidade e não temos a quem pedir ajuda...</p>
        <p>A partir de agora,  serão apresentadas para você, em cada esquina, as opções disponíveis para seguir o trajeto de volta à entrada da cidade, lugar de onde viemos, vamos andar de acordo com suas escolhas.</p>

        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_6a')">
             Sigam-me os bons!
        </button>
        {% endblock %}

    </body>
</html>

