<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}
        {% load widget_tweaks %}               

        {% block history %}
        <p>Ajuda.. ajuda.. Deixe-me lembrar...</p>
        {% if respondent.installed_fakebook %} 
        <p>Sim! Podemos entrar no seu Fakebook e ver se algum dos seus amigos habilitou o serviço de localização e tem acesso ao mapa para nos ajudar.</p>
        <p>Se você adicionou algum amigo ao seu perfil (ainda não adicionou?? Faça isso agora clicando <a alt="" href="{% url 'history.views.profile' %}#relationships">aqui</a>). Basta clicar, aqui ao lado esquerdo, no item "Fakebook", e pedir as coordenadas para chegar ao seu destino!</p>
        {% else %}
        <p>Puxa! Não tem ninguém para quem possamos pedir ajuda. O jeito é irmos por nossa conta e risco...</p>
        {% endif %}

        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_6a')">
        	{% if respondent.installed_fakebook %} 
             Um por todos e todos por um!
             {% else %}
             Um por todos e só...!
             {% endif %}
        </button>
        {% endblock %}

    </body>
</html>

