<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        
		<p>Você parte da entrada da cidade rumo ao novo lugar que você vai chamar de 'sua casa' (que você conseguiu com alguns contatos antes de chegar por aqui), carregando um guia turístico que lhe foi entregue assim que foi autorizado a entrar na cidade.</p>
		<p>Você vira à esquerda, onde vê uma banca - do Sr. Pedro - como diz a fachada. Pelo que parece, o Senhor Pedro deve ser  homem simpático logo na porta conversando com alguns clientes.</p>
		<p>Logo em frente você vê o Hospital Saint Joseph. De acordo com o guia, os privenses têm muito orgulho deste hospital. Além das inúmeras especialidades, eles usam um sistema no qual os médicos têm acesso a um conjunto de informações consolidadas sobre os pacientes vindo das mais diferentes fontes possíveis. O diagnóstico é muito preciso e os tratamento são específicos.</p>
		<p>Você avista o prédio onde está instalado o Centro de Comando Policial de Privus. Aqui também fica o Centro de Monitoramento e Informação, de onde saem as decisões estratégicas para situações de risco, investigação de crimes, análises populacional para quaisquer interesses. Uma brincadeira no guia diz que, se você não sabe alguma coisa sobre você, é aqui que você vir; eles com certeza saberão...</p>		
		<p>Logo a frente você vê o prédio do Corpo de Bombeiros. Ficou bem localizado até...</p>
		<p>Seguindo pela calçada você identifica o Colégio Ron Rivest. Pelo que se lê, os grandes engenheiros e cientistas que produzem a tecnologia local estudaram aqui.</p>
		<p id="museum-block">Você chega então ao museu. De acordo com a placa informativa na frente, em alguns minutos ele estará aberto para visitação.</p>
		<p id="burger-block">Passando em frente a um <em>bistrô</em>, bem movimentado, você avista uma das maiores hamburguerias de Privus (de acordo com o guia), o BurgerQueen. Não sei se você é uma daquelas pessoas de hábitos alimentares radicais, mas para todo caso, vale a pena experimentar...</p>
		<p>Você chega na Praça Central, um ambiente cheio de árvores, um gramado muito bem cuidado, muito bancos à sombra, uma fonte bem ao centro e um pequeno lado, ao fundo, por onde passa um pontezinha. Este ambiente de natureza que se pode presenciar aqui é bem diferente da paisagem urbana a que você está acostumados.</p>
		<p id="govern-block">Este prédio moderno e imponente logo adiante é a Casa do Governo de Privus; nome sofisticado para um lugar mais conhecido como prefeitura.</p>
		<p>Depois você vê o hipermercado Carrefive (nome esquisito que não lhe é estranho...); de acordo com o guia, tem um aqui e outro quase na saída da cidade.</p>
		
		<p>Você então decide entrar e comprar alguma comida para levar para a casa.</p>
		
        <p>Você dirige-se ao balcão de recepção e pega um <em>tablet</em> para te auxiliar na compra. É de fato muito prático... Você pode ver o mapa de prateleiras e produtos, pode fazer sua lista de compras e, conforme adiciona produtos o total já é exibido automaticamente, mesmo sem nenhuma contrapartida sua.</p>
        <p id="shopping-block">Finalmente você pega os mantimentos que deseja e procura o caixa. Depois de um tempo, você percebe que não tem nenhum caixa ali e pergunta à funcionária da recepção como funciona o pagamento. Ela então te informa que basta informar o número do seu cartão de crédito na aplicação e o pagamento é efetuado assim que você deixar o supermercado.</p>
		<p>Você informa os dados necessários para efetuar o pagamento e sai.</p>	
		<p>De volta ao seu caminho , logo em frente fica a Electric Privus, concessionária de energia elétrica local. O guia que você trás em mãos informa que eles estão implantando um sistema interessante de monitoramento de energia elétrica inteligente para residências que, de acordo com eles, vai ajudar os cidadãos a economizar energia.</p>
		<p>O guia lhe mostra o Shopping Maximus... A descrição diz que tem ótimas salas de cinema e também muitos restaurantes de comidas exóticas.</p>
		<p>Aqui ao lado tem uma Casa Lotérica, onde se pode pagar contas, fazer apostas e outros serviços similares e, logo ao lado, fica a tradicional padaria privense. Parada obrigatória de qualquer cidadão privense que se preze.</p> 
        <p>Finalmente, você chegou em sua casa nova casa.</p>
                
        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_6b')">
             Seguir
        </button>
        {% endblock %}

		{% block scripts %}
			{% if respondent.installed_gugou %}
	        <script type="text/javascript">
	        $(function() {
	        	var height = $(window).height();
	
	        	new ScrollToggle($('#museum-block').position().top - height, function () {
	                showNotification('info','<strong>Notificação do <em>Gugou</em></strong>: "O Museu de Privus estará aberto em <strong>5 minutos</strong>! Não seria uma boa ideia passar e descobrir um pouco mais sobre nossa história?');
	            }, function () {});
	        	
	        	new ScrollToggle($('#burger-block').position().top - height, function () {
	                showNotification('info','Está com fome? Que tal um hamburger? Passe no <strong>Burger Queen</strong>');
	            }, function () {});
	        	
	        	new ScrollToggle($('#govern-block').position().top - height, function () {
	                showNotification('info','Seja bem vindo(a) a Privus {{ respondent.name }}! Estamos a disposição para ajudá-lo no que for necessário para o exercício de sua cidadania por aqui.')
	            }, function () {});
	        });
	        </script>       
	        {% endif %}
	        
	        <script type="text/javascript">
	        $(function() {
	        	var height = $(window).height();
	
	        	var scroller1 = new ScrollToggle($('#shopping-block').position().top - height, function () {
	        		showNotification('info','Seja bem vindo(a) ao Carrefive!')
	                showNotification('info','Nosso hipermercado disponibiliza <em>tablets</em> para te auxiliar nas comprar. Pegue o seu em um dos balcões de recepção! (Devolva ao sair da loja)')
	            }, function () {
	            	
	            });
	
	        });
	        
	        </script>
    	{% endblock scripts%}
    </body>
</html>

