<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}   
        {% load gosip_filters %}            

        {% block history %}
        <p>Considerando sua vida lá do país de onde você veio, você já está cansado de andar a pé. Sem contar que ia te dar uma boa moral encontrar-se com seus amigos em um carro zerinho.</p>
        <p>Levando em conta suas finanças, você decide que pode comprar um carro. Além do mais, você viu na previsão do tempo que uma frente fria está se aproximando de Privus e, com ela, vem as chuvas. Francamente, você não vai querer ficar preso em casa, em um cidade cheia de coisas novas para você conhecer, vai?</p>
        <p>Você então vai até a concessionária <em>Auto Privus</em>. Chegando lá, você dá uma volta pelo pátio para avaliar as possibilidades e aguarda até que o vendedor atenda uma senhora opulenta que já estava lá.</p>
        <p>Quando chega sua vez de ser atendido, o vendedor é bastante simpático e te mostra as diversas opções entre utilitários, esportivos, família etc. Você se interessa por um modelo que estava próximo à porta de entrada; para sua sorte, como tudo é muito prático aqui em Privus, o vendedor te informa da disponibilidade imediata desse modelo em estoque, o que pode reduzir o seu tempo de esperar em sair por aí andando com seu novo carrão.</p>
        <p>Mas, nem tudo são flores, chega a hora de falar da parte ruim (ou boa, vai depender das suas possibilidades financeiras): o pagamento. À vista, o carro custa <span class="currency">{{ score.money|multiply:0.9|floatformat:2 }}</span>, mas o vendedor te informa que eles estão fazendo uma pesquisa a fim de melhorar o atendimento, a experiência de compra e projetar novos automóveis mais adequados às diferentes necessidades dos clientes. Desta pesquisa, serão gerados novos conceitos de veículos que, quando lançados, quem participou da pesquisa garante um descontão de 40% na aquisição do novo modelo!</p>
        <p>Pois bem. Os clientes que quiserem participar hoje, ganham magníficos <strong>15%</strong> de desconto (e o novo valor do automóvel que você quer comprar passa a ser <span class="currency">{{ score.money|multiply:0.765|floatformat:2 }}</span>) e, para participar, basta que você forneça algumas informações financeiras, como o extrato bancário dos últimos 6 meses, seu nome, documento de identificação, renda mensal e o preenchimento de um questionário socioeconômico.</p>
        <p>Você decide...</p>
        {% endblock %}
        
        {% block options %}
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
				Comprar o carro...
				<span class="caret"></span>
			</button>
			
			<ul class="dropdown-menu">
				<li><a href="#" onclick="setValues('next_6c')">... participando da pesquisa</a></li>
				<li><a href="#" onclick="setValues('next_6d')">... sem participar da pesquisa</a></li>
			</ul>
		</div>
		
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_6e')">
             Continuar andando a pé
        </button>
        {% endblock %}

    </body>
</html>

