<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>_ "<em>Pronto, chegamos em sua nova casa!</em>". Diz o guia. "<em>Aqui está a chave. Espero que tenha uma ótima estadia aqui em nossa cidade</em>".</p>
        <p>Você acena. A exaustão já tomou conta há alguns minutos. Você mal pode esperar para descansar.</p>

        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_7c')">
             Abrir a porta
        </button>
        {% endblock %}

    </body>
</html>

