<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Seus dados financeiros estão sendo recuperados para serem fornecidos para a concessionária.</p>
        <p>Enquanto isso, responda o questionário abaixo para garantir seu direito ao desconto de <strong>15%</strong> no valor do automóvel.</p>
		<br>
		<h2>AutoPrivus <small>Pesquisa de perfil para criação de novos automóveis</small></h2>
		<hr>
		<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Qual o seu sexo</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt1" id="optionsRadios1" value="option1">
							  Masculino
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt1" id="optionsRadios1" value="option1">
							  Feminino
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt1" id="optionsRadios1" value="option1">
							  Outro
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt1" id="optionsRadios1" value="option1">
							  Não informado
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Com que frequência costuma usar seu automóvel</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt2" id="optionsRadios1" value="option1">
							  1 vez por semana
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt2" id="optionsRadios1" value="option1">
							  2 a 5 vezes por semana
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt2" id="optionsRadios1" value="option1">
							  Todos os dias
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt2" id="optionsRadios1" value="option1">
							  Apenas em ocasiões especiais
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>
		
				<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Quantas pessoas costumam andar em seu carro com você</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt3" id="optionsRadios1" value="option1">
							  1 a 2 pessoas
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt3" id="optionsRadios1" value="option1">
							  3 a 5 pessoas
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt3" id="optionsRadios1" value="option1">
							  6 a 7 pessoas
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt3" id="optionsRadios1" value="option1">
							  O quanto couber
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Nos últimos 6 meses, quanto gastou em média com seu carro</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt4" id="optionsRadios1" value="option1">
							  Menos que <span class="currency">150,00</span>
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt4" id="optionsRadios1" value="option1">
							  Entre <span class="currency">151,00</span> a <span class="currency">250,00</span>
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt4" id="optionsRadios1" value="option1">
							  Entre <span class="currency">251,00</span> a <span class="currency">500,00</span>
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt4" id="optionsRadios1" value="option1">
							  Mais que <span class="currency">500,00</span>
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Qual o seu salário mensal</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt5" id="optionsRadios1" value="option1">
							  Entre <span class="currency">1500,00</span> a <span class="currency">3000,00</span>
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt5" id="optionsRadios1" value="option1">
							  Entre <span class="currency">3001,00</span> a <span class="currency">4500,00</span>
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt5" id="optionsRadios1" value="option1">
							  Entre <span class="currency">4501,00</span> a <span class="currency">6000,00</span>
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt5" id="optionsRadios1" value="option1">
							  Mais que <span class="currency">6000,00</span>
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Você compraria um veículo que agrega o melhor do design, robustez e tecnologia</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt6" id="optionsRadios1" value="option1">
							  Sim
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt6" id="optionsRadios1" value="option1">
							  Não
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Qual a faixa de preço que você considera razoável para um carro com as características da pergunta anterior</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt7" id="optionsRadios1" value="option1">
							  Até <span class="currency">130000,00</span>
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt7" id="optionsRadios1" value="option1">
							  Até <span class="currency">200000,00</span>
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt7" id="optionsRadios1" value="option1">
							  Até <span class="currency">300000,00</span>
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt7" id="optionsRadios1" value="option1">
							  A partir de <span class="currency">300000,00</span>
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Que atividade você trabalha</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							  Gerente, administradora ou diretora de empresa privada
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							  Funcionária pública (federal, estadual, municipal), com funções de direção
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							  Militar (guarda-civil, polícia estadual ou Forças Armadas), com posto de comando
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							  Empregada no setor privado, com carteira assinada
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							  Funcionária pública (federal, estadual ou municipal), sem função de direção
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							  Militar (guarda-civil, polícia estadual ou Forças Armadas), sem posto de comando
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							   Trabalho temporário, informal, sem carteira assinada
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							   Autônomo(a)
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							   Desempregado(a)
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt8" id="optionsRadios1" value="option1">
							   Aposentado(a)
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Por qual motivo principal você adquiriria um carro com as características da pergunta anterior</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt9" id="optionsRadios1" value="option1">
							  Necessidade 
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt9" id="optionsRadios1" value="option1">
							  Sou fã de carros
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt9" id="optionsRadios1" value="option1">
							  Satisfação pessoal
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt9" id="optionsRadios1" value="option1">
							  Realização de um sonho
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-12 col-sd-12">
				<div class="form-group">
				    <p><strong>Deseja ser contatado com antecedência quando novos modelos de automóveis forem lançados</strong></p>
				    <div class="col-sm-10">
						<div class="radio">
							<label>
							  <input type="radio" name="opt10" id="optionsRadios1" value="option1">
							  Sim
							</label>
						</div>
						<div class="radio">
							<label>
							  <input type="radio" name="opt10" id="optionsRadios1" value="option1">
							  Não
							</label>
						</div>
				    </div>
				  </div>
			</div>
		</div>
		
        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_7d')">
             Concluir a compra do meu carro!
        </button>
        {% endblock %}

    </body>
</html>

