<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Você optou por uma compra menos invasiva (apesar de mais cara) e decidiu não participar da pesquisa.</p>
        <p>Apenas seus dados pessoais foram fornecidos, como de costume para qualquer compra.</p>

        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_7d')">
             Concluir a compra do meu carro!
        </button>
        {% endblock %}

    </body>
</html>

