<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Você optou por não comprar o carro. Sabe lá quais são seus motivos...</p>
        <p>Você liga para seus amigos e vocês decidem que vão ao <em>Burger Queen</em>. Como você é novo na cidade, pediu que um deles lhe desse carona.</p>
        
        <p>{% if friends %}O(A) {{ first_friend.name }} vai passar aqui para te pegar em alguns minutos.{% endif %}Enquanto eles não chegam você senta-se em um dos bancos da calçada que tem logo na esquina da rua da concessionária.</p>

        <p>Você repara que a movimentação por aqui é bem grande. Muitas pessoas fazendo caminhada, outras correndos, alguns pais brincando com seus filhos, alguns casais passeando com seus cães.. Tem até um casal de velhinhos fazendo sua caminhada... Em sua direção, mas a frente fica a beira do lago. A paisagem faz você se perder em pensamentos por alguns instantes...</p>
        <p>Você se pergunta se é possível ser sedentário por aqui, ou mesmo se existe alguma estatística que mostre o impacto desses hábitos na qualidade de vida das pessoas.</p>
        <p>Ops! Falando em pessoas, sua carona acabou de chegar...</p>

        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_8c')">
             Burguer Queen da galera, aí vamos nós!
        </button>
        {% endblock %}

    </body>
</html>

