<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>_ "<em>Finalmente chegamos de volta à entrada da cidade</em>".</p>
        <p>_ "<em>Bom, agora acredito que você deva estar um tanto cansado pela viagem e pela caminhada. Aguarde um instante que vou levá-lo até a sua nova casa</em>".</p>

        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_6b')">
             Ir para casa
        </button>
        {% endblock %}

    </body>
</html>

