<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Infelizmente seu tempo hábil para encontrar seu destino acabou.</p>
        <p>Você foi encontrado em estado de choque pelos seus amigos dias depois. Sem casa, banho ou comida, seu estado era deplorável.</p>
        <p>Por sorte agora você está bem e aos pouco se recupera do trauma de ter se perdido em uma cidade na qual você tinha acabado de chegar, porém, sua experiência em Privus acabou.</p>

        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_15a')">
             <span class="glyphicon glyphicon-road"></span> Ver resultado
        </button>
        {% endblock %}
    </body>
</html>

