<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Lar, doce lar...</p>
        <p>Opa! Você quase escorrega por causa de um envelope que tinha logo próximo da porta. Você pega o envelope e para sua surpresa é da empresa de distribuição de energia elétrica, <em>Electric Privus</em>.</p>
        <p>Com muito cuidado você abre o envelope e verifica que é uma conta de energia, no valor de <span class="currency"> 150,00</span>. Provavelmente deve referir-se ao consumo do último inquilino. Você já estava ciente de que isso poderia ocorrer e que, baseado nas leis locais, você sabe que é o responsável por esta dívida. Isso não será o problema, já que você ainda tem <span class="currency">{{ score.money }}</span> disponível em sua conta bancária aqui em Privus.</p>
        <p>Sendo assim, o que você deseja fazer?</p>

        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_8a')">
             Pagar a conta agora mesmo
        </button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_8b')">
             Depois eu vejo o que eu faço
        </button>
        {% endblock %}
    </body>
</html>

