<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Você liga para seus amigos e vocês decidem que vão ao <em>Burger Queen</em>.</p>
        <p>Esta será sua primeira oportunidade de estrear sua mais nova aquisição: <strong>seu</strong> carro. Como alguns de seus amigos não têm carro, você ofereceu carona a alguns deles e resolve sair mais cedo para pegá-los antes de ir para a hamburgueria.</p>
        <p>Você entra no <strong>seu</strong> carro, senta-se confortavelmente em <strong>seu</strong> banco de motorista, inspira e expira, vagarosamente... o cheiro inebriante de carro novo ainda está por aqui.</p>
        <p>Você dá a partida, conecta seu dispositivo móvel ao som automotivo via <em>bluetooth</em>, escolhe sua <em>playlist</em> preferida e segue para encontrar seus amigos.</p>

        {% endblock %}
        
        {% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_8c')">
             Burguer Queen da galera, aí vamos nós!
        </button>
        {% endblock %}

    </body>
</html>

