<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>As autoridades locais apreciam cidadãos responsáveis...</p>
        <p>Você tem a disposição duas formas de pagamento. Qual delas você escolhe?</p>

        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_9a')">
             Cartão
        </button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_9b')">
             Dinheiro
        </button>
        {% endblock %}
    </body>
</html>

