<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Inadimplentes por aqui ganham má fama muito facilmente. O cadastro de maus pagadores é compartilhado entre as empresas e pode impactar em qualquer interação de compra e venda futura.</p>
        <p>Por sorte, você ainda tem 5 dias para efetuar o pagamento.</p>

        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_11a')">
             Continuar
        </button>
        {% endblock %}
        
        {% block scripts %}
        <script type="text/javascript">
        $(function() {
            showNotification('warning','<strong>Notificação da <em>Electric Privus</em></strong>: A energia elétrica de sua residência será interrompida em <strong>5 dias</strong>.');
        });
        </script>       
    	{% endblock scripts%}
    </body>
</html>

