<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% extends "history:history/base.html" %}     
        {% load widget_tweaks %}          
    	{% load gosip_filters %}

        {% block history %}
        <p>Vocês chegam ao <em>Burger Queen</em> e vêem que está bem cheio. Tem até uma pequena fila de espera. Como vocês estão botando o papo em dia, decidem aguardam enquanto conversam.</p>
        <p>É aí que um de vocês se depara com um grande cartaz que anuncia a seguinte promoção: "Faça um checkin no Fakebook, com uma foto aqui no BurguerQueen e ganhe um desconto de <span class="currency">4</span>!".</p>
        <p>Você está na dúvida se compra a opção na promoção ou se escolhe um combo mais completo, com refrigerante e fritas.</p>
		<p>Finalmente chega a vez de vocês serem atendidos, você chega ao balcão e o atendente pede que você faça seu pedido:</p>

		<hr>
		
		{% random_number as order_number %}
		<p><strong>Pedido <em>Burger Queen</em> Nº {{order_number}}</strong></p>
		
		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label class="col-sm-8 control-label">Escolha seu(s) lanche(s)/<em>hamburguer(es)</em></label>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="sooper-double-bacon" class="order"> Sooper Double Bacon
		        </label>
		      </div>
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="sooper-tasty-vegetable" class="order"> Sooper Tasty Vegetable
		        </label>
		      </div>
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="sooper-fried-chicken" class="order"> Sooper Fried Chicken
		        </label>
		      </div>
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="nice-hot-dog" class="order" class="order"> Nice Hot Dog
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-8 control-label">Escolha sua bebida (refil)</label>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="radio">
		        <label>
		          <input type="radio" name="beverage" id="no-beverage" class="order"> Sem bebida
		        </label>
		      </div>
		      <div class="radio">
		        <label>
		          <input type="radio" name="beverage" id="deo-valle" class="order"> Deo Valle
		        </label>
		      </div>
		      <div class="radio">
		        <label>
		          <input type="radio" name="beverage" id="tepsi" class="order"> Tepsi
		        </label>
		      </div>
		      <div class="radio">
		        <label>
		          <input type="radio" name="beverage" id="coke" class="order"> Copa Cola
		        </label>
		      </div>
		      <div class="radio">
		        <label>
		          <input type="radio" name="beverage" id="water" class="order"> Água com/sem gás
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-8 control-label">Adicionais</label>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="small-fries" class="order"> Fritas pequena
		        </label>
		      </div>
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="medium-fries" class="order"> Fritas média
		        </label>
		      </div>
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="big-fries" class="order"> Fritas grande
		        </label>
		      </div>
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="onion-rings" class="order"> Onion rings
		        </label>
		      </div>
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="fried-egg" class="order"> Ovo frito
		        </label>
		      </div>
		    </div>
		  </div>
		</form>
		
		<hr>
		
		<div class="row">
			<div class="col-sm-8 text-left">
			<p>A atendente então pergunta se você vai fazer o <em>checkin</em></p>
			</div>
			<div class="col-sm-4 text-right">
				<form role="form" id="deduct_form">
					{% csrf_token %}
					{{deduct_form.value}}
					{{deduct_form.context}}
				</form>		
			</div>
		</div>
				
		<p>É hora de fazer o pagamento. Sua conta totaliza <span class="currency" id="total-order">0.0</span>. Qual vai ser a forma de pagamento?</p>
		
        {% endblock %}

		{% block options %}
		<button id="button-checkin" type="button" class="btn btn-default btn-lg">
				  <span class="glyphicon glyphicon-camera"></span> Tirar foto para o <em>checkin</em>
		</button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_9c')">
             Cartão
        </button>
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_9d')">
             Dinheiro
        </button>
        {% endblock %}
        
        {% block scripts %}
        <script type="text/javascript">
        
        $(function(){
        	$( ".order" ).change(function() {
        		evaluateOrder();
       		});
        });
        function evaluateOrder() {
        	var total_value = 0.0;
        	
//         	$('#sooper-double-bacon').is(':checked')
//         	$('#sooper-tasty-vegetable').is(':checked')
//         	$('#sooper-fried-chicken').is(':checked')
//         	$('#nice-hot-dog').is(':checked')

//         	$('#no-beverage').is(':checked')
//         	$('#deo-valle').is(':checked')
//         	$('#tepsi').is(':checked')
//         	$('#coke').is(':checked')
//         	$('#water').is(':checked')
	        
//         	$('#small-fries').is(':checked')
//         	$('#medium-fries').is(':checked')
//         	$('#big-fries').is(':checked')
        	
//         	$('#onion-rings').is(':checked')
//         	$('#fried-egg').is(':checked')
        	
        	var list = ['#sooper-double-bacon', '#sooper-tasty-vegetable', '#sooper-fried-chicken', '#nice-hot-dog', '#no-beverage', '#deo-valle', '#tepsi', '#coke', '#water', '#small-fries', '#medium-fries', '#big-fries', '#onion-rings', '#fried-egg'];
        	var map = {
        			'#sooper-double-bacon':10.50, 
        			'#sooper-tasty-vegetable':13.20, 
        			'#sooper-fried-chicken':15.70,
        			'#nice-hot-dog':8.20, 
        			'#no-beverage':0., 
        			'#deo-valle':2.50, 
        			'#tepsi':4.0, 
        			'#coke':2.50, 
        			'#water':1.50, 
        			'#small-fries':4.0, 
        			'#medium-fries':5.0, 
        			'#big-fries':6.0, 
        			'#onion-rings':7.50, 
        			'#fried-egg':1.2
        			
        	};
        	
        	for (item in list) {
        		if ($(list[item]).is(':checked')) {
        			total_value += map[list[item]];
        		}
        	}
        	
        	$("#total-order").text(total_value.toFixed(2));
   			$("#id_value").val(total_value);
        }
        
        $(function() {
        	$('#sooper-double-bacon').is(':checked')
        });
        
        $(document).ready(function(){
        	
        	$( "#button-checkin" ).click(function() {
        		var data = $("#deduct_form").serialize(); // serializes the form's elements
    			
    		    $.ajax({
   		           type: "POST",
   		           url: "{% url 'history.views.deduct_value' %}",
   		           data: data,
   		           success: function(data)
   		           {
   		        	   initializeCamera(); 
   		          		$('#modal-take-photo').modal('show');
   		           },
   		           error: function() {
   						alert('Erro ao tentar fazer checkin');
   		        	}
   		         });
          	});
        });
        
       
        	
        </script>
        {% endblock %}
    </body>
</html>

