<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Você decidiu pagar sua conta de energia elétrica usando cartão. Esta é mesmo uma forma cômoda e segura para fazer pagamentos.</p>
        <p>Por questões de facilidade, isso será feito através do site de serviços do governo local.</p>
        
        <div class="panel panel-default">
		  <div class="panel-body">
		    <p>Como é seu primeiro acesso no e-Gov, forneça seu ID e sua senha.</p>
        
	        <form class="form-horizontal" role="form">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">ID</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control number" id="userid" placeholder="ID (apenas números)">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Senha</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="pwd" placeholder="Senha">
			    </div>
			  </div>
			</form>
			
			<p>Agora informe os dados do seu cartão</p>
			
			<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Nome</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="name" value="{% if respondent.name %}{{respondent.name}}{% endif %}" placeholder="Nome Impresso em seu Privus Card">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Número</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control number" id="number" placeholder="Número do seu Privus Card">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Validade</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control date" id="expiration" placeholder="Validade do seu Privus Card (dd/mm/aaaa)">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox"> Salvar dados para os próximos pagamentos
			        </label>
			      </div>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="button" class="btn btn-default" id="button-payment">Efetuar pagamento</button>
			    </div>
			  </div>
			</form>

		  </div>
		</div>
        		
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_10a')" style="display:none" id="button-action">
             Continuar
        </button>
        {% endblock %}
        
        {% block scripts %}
        <script type="text/javascript">
			$(document).ready(function(){
        		$( "#button-payment" ).click(function() {
        			if (!$("#userid").val()) {
        				showNotification('danger', 'Forneça um ID!');
        			} else if (!$("#pwd").val()) {
        				showNotification('danger', 'Forneça uma senha de acesso ao eGov!');
        			} else if (!$("#name").val()) {
        				showNotification('danger', 'Forneça seu nome, assim como está escrito no seu <strong>Privus Card</strong>!');
        			} else if (!$("#number").val()) {
        				showNotification('danger', 'Forneça o número do seu <strong>Privus Card</strong>!');
        			} else if (!$("#expiration").val()) {
        				showNotification('danger', 'Forneça a validade do seu <strong>Privus Card</strong>!');
        			} else {
        				showNotification('success', 'Pagamento efetuado com sucesso!');
        				$("#button-action").show();	
        			}
        		});
			});
        </script>
        {% endblock %}
    </body>
</html>

