<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Ok. Para efetuar o pagamento em dinheiro voce precisa se dirigir a alguma estabelecimento mais próximo.</p>
        <p>Como você é novo na cidade recomenda-se sempre o uso do Gugou Maps pois, caso você se perca, será mais fácil para se encontrar ou mesmo pedir ajuda.</p>
        <p>Os estabelecimentos onde você pode efetuar o pagamento de sua conta estarão escritos a seguir.</p>
        
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_10b')">
             Vamos à busca!
        </button>
        {% endblock %}
    </body>
</html>

