<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    	
        {% extends "history:history/base.html" %}               

        {% block history %}
        <p>Pagamento efetuado com sucesso!</p>
        <p>"<em>Muito obrigado, tenha uma ótima refeição</em>"</p>
        
        {% if respondent.installed_fakebook %}
		<script type="text/javascript">
			setTimeout(function(){showNotification('info','<strong>Notificação do <em>Fakebook</em></strong>: {% if friends %}{{ first_friend.name }} {% else %} Alguém {% endif %} curtiu seu checkin no <em>Burger Queen</em>!')}, 5000);
		</script>
		{% endif %}
		
		<p>Você está dando muitas risadas com seus amigos. O ambiente está bem agradável, a música ambiente está bem envolvente e você acaba esquecendo do mundo lá fora. Já fazia tempo que você não comia um bom hambúrguer 
		desses... Desde que o lado sul do mar Prestos entrou em guerra, sua cidade ficou sem fornecimento de serviço externos. O governo não tinha muito o que fazer quanto a isso. A dependência da importação de alimentos de países um tanto distantes, fazia com que, uma vez iniciada a guerra, o transporte desses alimentos teriam que cruzar terras inimigas, impedindo que chegassem até seu país. Tudo o que o povo podia fazer era viver do que plantava. Nada mais.</p>
		<p>Neste momento você é trazido de volta à sua realidade pelo som de notificação do seu <em>smartphone</em>. A defesa civil de Privus avisa de uma chuva torrencial que se aproxima da cidade e alerta para a possibilidade de evacuação de algumas áreas, graças à instalação de sensores de monitoramento das condições climáticas; eles também pedem para que a população contribua com reports do que está acontecendo na diversas partes da cidade, criando uma rede de compartilhamento de informações sobre as condições da cidade.</p>
		<p>Você então se dá conta que o céu está escuro lá fora e alguns relâmpagos já começam atravessar o céu.</p>
		
		{% if respondent.bought_car %}
		<p>Como você não sabe muito bem como são as coisas por aqui nessas situações, você se despede de seus amigos, oferece carona, caso algum deles necessite (eles gentilmente recusam, vão ficar para mais um rodada), e parte dali.</p>
		{% else %}
		<p>Como você não sabe muito bem como são as coisas por aqui nessas situações, você fica receoso de sair para pegar um ônibus, taxi ou metrô. Você pede carona a um de seus amigos, um deles diz que pode te levar para casa. O único problema é que ele bebeu mais do que devia e os outros o convencem de que seria melhor deixar você dirigir. Vocês então partem dali.</p>
		{% endif %}
		
		<p>O temporal começa. Uma verdadeira chuva torrencial. Você percebe que os motoristas estão meio tensos no volantes, o que te deixa com um pressentimento nada bom.</p>
		
		{% if respondent.installed_twistter %}
			<p id="storm-block">Sua meta já era chegar na sua casa antes que o tempo piorasse. Agora, a urgência só se intensifica.</p> <!-- mostrar notificação -->
			{% if respondent.installed_gugou %}
			<p>Para sua sorte, o mapa vai te ajudar com as ruas. Porém, apesar de existirem vários caminhos possíveis para você chegar até sua casa, alguns deles apresentam alagamento, impedindo a passagem de veículos, e outras vias apresentam pontos de lentidão, o que vai fazer com que você demore um pouco mais, correndo o risco de a situação piorar.</p>
			<p>Para ajudá-lo, o serviço de localização conta com sua contrapartida: você pode enviar um twistter com sua localização e um <em>report</em> da condição da via em que você está e, em troca, recebe o status de alguma via que você deve evitar, ou porque está alagada (caso em que você ficará fatalmente ilhado), ou porque está com trânsito lento.</p>
			{% else %}
			<p>Para amenizar a situação, já que você não tem o serviço de localização, serão apresentadas para você as opções de ruas por onde você pode seguir no seu trajeto até sua casa. Apesar de existirem vários caminhos possíveis, alguns deles apresentam alagamento, impedindo a passagem de veículos, e outras vias apresentam pontos de lentidão, o que vai fazer com que você demore um pouco mais, correndo o risco de a situação piorar.</p>
			<p>Para ajudá-lo, o Twistter conta com sua contrapartida: você pode enviar um twistter de texto com um <em>report</em> da condição da via em que você está, em troca, recebe o status de alguma via que você deve evitar, ou porque está alagada (caso em que você ficará fatalmente ilhado), ou porque está com trânsito lento.</p>
			{% endif %}
		{% else %}
			<p>Um cidadão com o Twistter em mãos agora teria informações valiosas sobre os trajetos. Mas este não é o seu caso.</p>
			<p>O que você vai ter a sua frente é um trajeto complicado, em meio a uma tempestade difícil, com alguns desafio a sua frente, que você terá de resolver sozinho. Apesar de existirem vários caminhos possíveis para você chegar até sua casa, alguns deles apresentam alagamento, impedindo a passagem de veículos, e outras vias apresentam pontos de lentidão, o que vai fazer com que você demore um pouco mais, correndo o risco de a situação piorar.</p>
			{% if respondent.installed_gugou %}
			<p>Baseando-se no mapa, pense nos trajetos possíveis e conte com sua sorte.</p>
			{% else %}
			<p>Para seu azar, você não tem Twistter, nem o serviço de localização... Isso significa que agora é hora de deixar teu instinto te guiar. Você terá apenas as opções de quais vias você pode escolher em determinado momento.</p>
			{% endif %}
		{% endif %}
		
		<p>Você deve atentar para as seguintes instruções:</p>
		<ol>
			<li>Se a via que você escolher estiver alagada, você ficará fatalmente ilhado;</li>
			<li>Em caso de trânsito, seu deslocamento terá a velocidade reduzida proporcionalmente;</li>
			<li>O ideal é que você chegue são, salvo e, eventualmente, seco na sua casa :).</li>
		</ol>
		<p>Vamos nessa?</p>
        {% endblock %}

		{% block options %}
        <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_10c')">
             Vamos que vamos!
        </button>
        {% endblock %}
        
        {% block scripts %}
        <script type="text/javascript">
        $(function() {
        	var height = $(window).height();

        	var scroller1 = new ScrollToggle($('#storm-block').position().top - height, function () {
                showNotification('warning','<strong>Notificação do <em>Twistter</em></strong>: "A cidade já começa a apresentar pontos de alagamento" - <strong><em>@DefesaCivil</em></strong>!')
            }, function () {
                //console.log("Element #1 is gone.");
            });

        });
        </script>       
    	{% endblock scripts%}
    </body>
</html>

