{% extends "history:history/popup.html" %}               

{% block modal-id %}modal-gosip-app-energia{% endblock%}

{% block modal-title %}Medidor de Energia Inteligente{% endblock%}

{% block modal-body %}
<p>Aparelhos operantes:</p>

<table class="table table-condensed table-striped">
<thead>
   <tr>
     <th>Descrição</th>
     <th>Potência (kW)</th>
     <th>Consumo (kWh)</th>
   </tr>
 </thead>
  <tbody>
    <tr>
      <td>Chuveiro</td>
      <td>4.5</td>
      <td id="shower-consumption">72.60</td>
    </tr>
    <tr>
      <td>Ar condicionado</td>
      <td>1.4</td>
      <td id="conditioner-consumption"></td>
    </tr>
    <tr>
      <td>Geladeira c/ Freezer - 350L</td>
      <td>53.1</td>
      <td id="fridge-consumption"></td>
    </tr>
    <tr>
      <td>TV</td>
      <td>121</td>
      <td id="tv-consumption"></td>
    </tr>
    <tr>
      <td>Computador</td>
      <td>0.12</td>
      <td id="computer-consumption"></td>
    </tr>
    <tr>
      <td>Lâmpadas (10)</td>
      <td>0.1</td>
      <td id="lamp-consumption"></td>
    </tr>
   </tbody>
   <tfoot>
    <tr>
      <td><strong>Consumo Total</strong></td>
      <td></td>
      <td id="total-consumption"></td>
    </tr>
    </tfoot>
</table>
<!-- http://www.aneel.gov.br/arquivos/PDF/17-05_materia1_3.pdf -->

{% if respondent.installed_smart_meter == True %}
<script type="text/javascript">
$(function() {
	setInterval(function(){
		var time = timeInHours();
		//$("#shower-consumption").html(parseFloat(time * 4.5).toFixed(2));
		$("#conditioner-consumption").html(parseFloat(time * 1.4).toFixed(2));
		$("#fridge-consumption").html(parseFloat(time * 53.1).toFixed(2));
		$("#tv-consumption").html(parseFloat(time * 121.0).toFixed(2));
		$("#computer-consumption").html(parseFloat(time * 0.36).toFixed(2));
		$("#lamp-consumption").html(parseFloat(time * 0.1 * 10).toFixed(2));
		
		var total = (time * 1.4) + (time * 53.1) + (time * 121.0) + (time * 0.36) + (time * 0.1 * 10);
		$("#total-consumption").html("<em>" +parseFloat(total).toFixed(2) + "</em>");
	}, 1000);
});

function timeInHours() {
	var difference = (new Date()).getTime() - 1404909900000;

   var hoursDifference = (difference/1000.0/60.0/60.0);
   return hoursDifference;
}
</script>
{% endif %}


{% endblock%}

{% block modal-options %}
{% endblock%}
