{% extends "history:history/popup.html" %}               
{% load widget_tweaks %}

{% block modal-id %}modal-gosip-app-twistter{% endblock%}

{% block modal-title %}Twistter{% endblock%}

{% block modal-body %}
<form class="form-horizontal" role="form" id="twistter_form">
	{% csrf_token %}
	<div class="form-group">
		<div class="col-sm-12">
			<input class="form-control" id="id_text" maxlength="100" name="text" type="text" placeholder="Escreva seu Twistte">
		</div>
	</div>

	<div class="form-group">
	   <div class="col-sm-12 text-right">
	     <button type="submit" class="btn btn-default  btn-lg">
             <span class="glyphicon glyphicon-send"></span> Twisttar
        </button>
	   </div>
	 </div>
</form>

<script type="text/javascript">

$(function () {
	$("#twistter_form").submit(function() { 
		return  asyncSubmission("#twistter_form", "{% url 'history.views.twistter' %}", 
		function() {
			location.reload();
		},
		function() {
			location.reload();
		}); 
	});
});
</script>

{% endblock%}

{% block modal-options %}
{% endblock%}
