{% extends "history:history/popup.html" %}               
{% load widget_tweaks %}

{% block modal-id %}modal-gosip-app-fakebook{% endblock%}

{% block modal-title %}Facebook{% endblock%}

{% block modal-body %}

<form class="form-horizontal" role="form" id="fakebook_form">
	{% csrf_token %}
	<div class="form-group">
	   <label for="inputEmail3" class="col-md-5 col-sm-5">Para quem você vai enviar a mensagem?</label>
	   <div class="col-md-7 col-sm-7">
	   	{{ fakebook_form.receiver|add_class:"form-control"}}	
	   </div>
	 </div>
  
	<div class="form-group">
		<div class="col-sm-12">
			<input class="form-control" id="id_content" maxlength="300" name="content" type="text" placeholder="Digite aqui o que você quer compartilhar">
		</div>
	</div>

	<div class="form-group">
	   <div class="col-sm-12 text-right">
	     <button type="submit" class="btn btn-default  btn-lg">
             <span class="glyphicon glyphicon-send"></span> Compartilhar
        </button>
	   </div>
	 </div>
</form>

<div class="panel-group" id="accordion">
	{% for msg in inbox %}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title">
	      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{msg.pk}}">
	        {% if msg.sender.name %}
	      	{{msg.sender.name}}</strong>)
	      	{% else %}
	      	Usuário <strong>{{msg.sender.user.username}}</strong>
	      	{% endif %} 
	      	| <small>{{msg.sent_at|date:"d/m H:i"}}</small>
	      </a>
	    </h4>
	  </div>
	  <div id="collapseOne{{msg.pk}}" class="panel-collapse collapse">
	    <div class="panel-body">
	      	<p class="text-justify">{{msg.content}}</p>
	    </div>
	  </div>
	</div>
	{% endfor %}
</div>

<script type="text/javascript">

$(function () {
	$("#fakebook_form").submit(function() { 
		return  asyncSubmission("#fakebook_form", "{% url 'history.views.fakebook' %}", 
		function() {
			location.reload();
		},
		function() {
			location.reload();
		}); 
	});
});
</script>

{% endblock%}

{% block modal-options %}
{% endblock%}
