<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {% extends "gosip:gosip/base.html" %}
        {% load static %}
        {% block title %}A Aventura{% endblock %}
		
        {% block content %}
        <!-- {{ curr_page }} -->
        <div class="row" style="padding: 8% 0% 0% 0%;">
        	<div class="col-md-2 col-sm-2 text-left">
        		{% block services %}
	        	<div class="list-group">
					{% if respondent.installed_health_monitor == True %}
					<a href="#" class="list-group-item">
					  <label><em>Health Monitor</em></label><br>
	        			<img class="img-responsive" alt="img" src="{% static 'img/ekg-animation.gif' %}"/>
					</a>
					{% endif %}
					
					{% if respondent.installed_hospital_assist == True %}
					<a href="#" class="list-group-item"><em>Hospital Assist</em></a>
					{% endif %}
					
					{% if respondent.installed_gugou == True %}
				  	<a href="#" class="list-group-item" onclick="$('#modal-gosip-mapa').modal('show')">Abrir Mapa</a>
				  	{% endif %}
				  	
				  	{% if respondent.installed_fakebook == True %}
				  	<a href="#" class="list-group-item" onclick="$('#modal-gosip-app-fakebook').modal('show')"><span class="badge pull-right">{{inbox_unread}}</span>Facebook</a>
					{% endif %}
					
					{% if respondent.installed_twistter == True %}
					<a href="#" class="list-group-item" onclick="$('#modal-gosip-app-twistter').modal('show')">Abrir Twistter</a>
					{% endif %}
					
					{% if respondent.installed_smart_meter == True %}
					<a href="#" class="list-group-item" onclick="$('#modal-gosip-app-energia').modal('show')"><em>Smart Meter</em></a>
					{% endif %}
					
				</div>
				{% endblock %}
        	</div>
        	
            <div id="block-history" class="col-md-8 col-sm-8 text-justify transition">
            {% block history %}
            {% endblock %}
            </div>
            <div class="col-md-2 col-sm-2 text-right">
            	{% block score %}
            	{% if respondent.show_score %}
				<ul class="list-group">
					<li class="list-group-item">
						<small>Dinheiro</small><br>
						<label class="score"><span class="currency">{{ score.money|floatformat:2 }}</span></label>
					</li>
					<li class="list-group-item">
						<small>Risco</small><br>
						<label class="score">{{ score.risk }}</label><br>
					</li>
					<li class="list-group-item">
						<small>Influência</small><br>
						<label class="score">{{ score.influence }}</label><br>
					</li>
				</ul>
				{% endif %}
				{% endblock %}
        	</div>
        </div>

        <div class="row"  style="padding: 2% 0% 2% 0%;">
        	<div class="col-md-8 col-sm-8  col-md-offset-2 text-right">
				<form id="step_form" role="form" method="post" action="{% url 'history.views.step' %}"> 
			         {% csrf_token %}
			         <input id="id_step_page" name="step_page" type="hidden" value="{{curr_page}}" />			         
			         {{ step_form.step_answer }}
			         
<!-- 			         <div class="btn-group"> -->
		             	{% block options %}
		                {% endblock %}
<!-- 			         </div> -->
			     </form>
            </div>
        </div>
        
        {% endblock content %}
	
		{% block popups %}
        {% include "history:history/energia-eletrica.html" %}
        {% include "history:history/localizacao.html" %}
        {% include "history:history/fakebook.html" %}
        {% include "history:history/twistter.html" %}
        {% include "history:history/app-twistter.html" %}
        {% include "history:history/app-fakebook.html" %}
        {% include "history:history/app-energia-eletrica.html" %}
        {% include "history:history/take-photo.html" %}
        {% include "history:history/saude.html" %}
        {% include "history:history/hospital.html" %}
        {% include "history:history/mapa.html" %}
        {% include "history:history/instrucoes-sem-score.html" %}
        {% include "history:history/instrucoes-com-score.html" %}
        {% endblock %}
    </body>
</html>





