{% extends "history:history/popup.html" %}               

{% block modal-id %}modal-gosip-energia{% endblock%}

{% block modal-title %}Instalação do Serviço de Medidor de Energia Inteligente{% endblock%}

{% block service-name %}smart-meter{% endblock %}
{% block service-exposure %}consumption:{{consumption_exposure}}{% endblock %}

{% block modal-body %}

<div class="row">
     <div class="col-md-12 col-sm-12 text-center">
         <img alt="" class="img-responsive img-thumbnail" src="http://www.safesmartmeter.com/images/4.jpg" style="max-height: 60%">     
         <br>
         <em><small>Imagem: http://www.safesmartmeter.com/</small></em>                         
     </div>
 </div>
<p>O serviço de medição inteligente de energia permite que você visualize o consumo individual dos equipamentos de sua residência, escritório ou empresa, permite identificar perfis de uso para 
diferentes intervalos de horas, elaborando planos personalizados de economia de energia e gerando a fatura mensal referente ao consumo.</p>
<p>Este é um serviço muito útil tanto para você que quer economizar quanto para você que quer fazer sua parte para um planeta mais sustentável..</p>
<p><strong>Custo: </strong> <span class="currency">2</span></p>
<p>Verifique abaixo que tipo(s) de dado(s) este serviço usa{% if respondent.show_score %} e, considerando a importância que você atribui a eles, qual o risco de exposição{% endif %}:</p>

<ul class="list-group">
  <li class="list-group-item">
	  <p>
	    <label>Dados de consumo </label> 
	    
	    {% if respondent.show_score == True %}
	    <span class="badge pull-right">{{ consumption_exposure|floatformat:0 }}</span>
	    <small class="text-capitalize">
	    	{% if consumption_exposure > 80 %}
			risco altíssimo
			{% elif consumption_exposure > 60 %}
			risco alto
			{% elif consumption_exposure > 40 %}
			risco médio
			{% elif consumption_exposure > 20 %}
			risco baixo
			{% else %}
			risco baixíssimo
			{% endif%}
			</small>
	    </p>
	    <div class="progress">
			<div id="pb3" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{consumption_exposure|floatformat:0}}%">
			</div>
		</div>
		{% endif %}
  </li>
</ul>

<script type="text/javascript">
$(function() {
	convertToColor('#pb3',{{personal_exposure|floatformat:0}});
});
</script>


{% endblock%}

{% block modal-options %}
<button type="submit" class="btn btn-primary btn-lg">Instalar!</button>
{% endblock%}
