<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% extends "history:history/base.html" %}
        {% load static %}
        
        {% block title %}Erro{% endblock %}
        

        {% block history %}
        <p>Ops! Acho que você acidentalmente pulou um trecho da história...</p>
        <p>O que quer fazer?</p>
        {% endblock %}
        
    
        {% block options %}
         <form role="form" method="post"  action="/history/{{ next_step }}/"> 
             {% csrf_token %}       
             <div class="form-group" >
                 <div class="col-md-8 col-sm-8 col-md-offset-2 text-right">
                    <button type="submit" class="btn btn-default  btn-lg">
                         <span class="glyphicon glyphicon-chevron-right"></span> Voltar para história
                    </button>
                 </div>
             </div>
         </form>
        {% endblock %}

    </body>
</html>
