
{% extends "gosip:gosip/base.html" %}
{% load static %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="row" style="padding: 13% 0% 0% 0%;">
    <div class="col-md-6 col-sm-6 col-md-offset-3 text-left">
        <blockquote>
          <p><em>O que antes era privado, é agora público,</em></p>
          <p><em>O que antes era difícil de copiar, agora é trivial para duplicar,</em></p>
          <p><em>O que antes era facilmente esquecido, agora é armazenado para sempre.</em></p>
          <footer> Ron Rivest <cite title="Source Title">Reversal of defaults</cite></footer>
        </blockquote>
    </div>
</div>

<div class="row text-center">
	<form id="step_form" role="form" method="post" action="{% url 'history.views.step' %}"> 
         {% csrf_token %}
         <input id="id_step_page" name="step_page" type="hidden" value="{{curr_page}}" />			         
         {{ step_form.step_answer }}

         <div class="form-group" >
             <div class="col-md-12 col-sm-12 text-center">
                <button type="button" class="btn btn-default  btn-lg" onclick="setValues('next_0')">
                     <span class="glyphicon glyphicon-flag"></span> Iniciar a Aventura
                </button>
             </div>
         </div>
     </form>
</div>
{% endblock %}


