{% extends "history:history/popup.html" %}               

{% block modal-id %}modal-gosip-assist{% endblock%}

{% block modal-title %}Instalação do Monitor de Saúde{% endblock%}

{% block service-name %}hospital-assist{% endblock %}
{% block service-exposure %}health:{{medical_exposure}},location:{{location_exposure}}{% endblock %}

{% block modal-body %}
<p>Para sua melhor comodidade, você pode conectar-se à rede de hospitais que atendem o <em>Health Monitor</em>, assim, no caso da aplicação identificar que há algo errado com seus sinais vitais o atendimento médico será chamada imediatamente e encaminhado até onde você estiver! Não ter este atendimento sendo feito no segundo certo, pode ser fatal em alguns casos!</p>
<p>A inclusão do serviço de suporte dos hospitais pode ser feita através de uma assinatura mensal. Fazendo este investimento você tera à sua disposição o atendimento emergencial assim que necessário. Afinal, sua vida é o bem mais importante que você tem e cabe a você a responsabilidade de preservá-la.</p>
<p><strong>Custo: </strong> <span class="currency">8.50</span></p>
<p>Verifique abaixo que tipo(s) de dado(s) este serviço usa{% if respondent.show_score %} e, considerando a importância que você atribui a eles, qual o risco de exposição{% endif %}:</p>

<ul class="list-group">
  <li class="list-group-item">
	  <p>
	    <label>Dados médicos </label>
	    
	    {% if respondent.show_score == True %} 
	    <span class="badge pull-right">{{ medical_exposure|floatformat:0 }}</span>
	    <small class="text-capitalize">
	    	{% if medical_exposure > 80 %}
			risco altíssimo
			{% elif medical_exposure > 60 %}
			risco alto
			{% elif medical_exposure > 40 %}
			risco médio
			{% elif medical_exposure > 20 %}
			risco baixo
			{% else %}
			risco baixíssimo
			{% endif%}
			</small>
	    </p>
	    <div class="progress">
			<div id="pb10" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{medical_exposure|floatformat:0}}%">
			</div>
		</div>
		{% endif %}
  </li>
  
  <li class="list-group-item">
	  <p>
	    <label>Dados de localização </label>
	    
	    {% if respondent.show_score == True %} 
	    <span class="badge pull-right">{{ location_exposure|floatformat:0 }}</span>
	    <small class="text-capitalize">
	    	{% if location_exposure > 80 %}
			risco altíssimo
			{% elif location_exposure > 60 %}
			risco alto
			{% elif location_exposure > 40 %}
			risco médio
			{% elif location_exposure > 20 %}
			risco baixo
			{% else %}
			risco baixíssimo
			{% endif%}
			</small>
	    </p>
	    <div class="progress">
			<div id="pb11" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{location_exposure|floatformat:0}}%">
			</div>
		</div>
		{% endif %}
  </li>
</ul>

<script type="text/javascript">
$(function() {
	convertToColor('#pb10',{{medical_exposure|floatformat:0}});
	convertToColor('#pb11',{{location_exposure|floatformat:0}});
});
</script>

{% endblock%}

{% block modal-options %}
<button type="submit" class="btn btn-primary btn-lg">Adquirir!</button>
{% endblock%}
