{% extends "history:history/popup.html" %}               

{% block modal-id %}modal-gosip-instrucoes-com-score{% endblock%}

{% block modal-title %}Instruções | <small><strong>Tempo estimado para completar a história:</strong> 25 minutos</small>{% endblock%}

{% block modal-body %}
<div class="row">
     <div class="col-md-12 col-sm-12 text-justify" style="font-size: 15px;">
		<p>Todos nós sabemos o quanto o assunto privacidade foi comentado nos últimos meses, desde o caso Snowden (relembre <a alt="" href="http://g1.globo.com/mundo/noticia/2013/07/entenda-o-caso-de-edward-snowden-que-revelou-espionagem-dos-eua.html" target="_blank">aqui</a>). De lá pra cá, diversos serviços passaram a apresentar maior preocupação com suas políticas de privacidade.</p>                      
		<!-- <p>No Brasil, o Marco Civil da Internet, sancionado pela presidente Dilma Russef, em 24 de abril de 2014, determina direitos e deveres de como dados e informações pessoais devem tratados no ambiente virtual brasileiro (mais detalhes <a alt="" href="http://tecnologia.terra.com.br/marco-civil/" target="_blank">aqui</a>).</p> -->
		<p>Fato é que, para nós, lidar com nossa própria privacidade ainda é meio complicado. Para utilizar os serviços disponíveis atualmente nós precisamos fornecer nossos dados; o problema é que não conseguimos mensurar o risco que corremos, para comparar com os benefícios do serviço que vamos consumir.</p>
		<p>Como os benefícios que os serviços nos trazem quase sempre são claros (aliás, é assim que somos convencidos de que precisamos deles), o objetivo desta pesquisa é pensar em formas quantitativas de mostrar o risco potencial que se corre quando se expõe algum dado para usar algum serviço, que nos permita tomar decisões de expor nossos dados de forma mais consciente e informada.</p>        
		
		<p>A história que você vai vivenciar agora, vai apresentar algumas situações nas quais você poderá utilizar alguns serviços, como redes sociais, pagamento, localização, etc.; é de sua escolha utilizá-los ou não.</p>
		<p>Cada opção que você escolhe interfere na continuação do enredo e podem afetar seu <strong>dinheiro</strong>, o <strong>risco</strong> acumulado que você corre ao expor seus dados ao longo da história e a sua reputação virtual, que chamaremos de <strong>influência</strong>. Ao final da história, será mostrado como você se saiu.</p>
		<p>Leia atentamente cada etapa da história, para que sua resposta de fato represente sua reação à situação proposta. Então, vamos começar?</p>
     </div>
 </div>
{% endblock%}

{% block modal-options %}
{% endblock%}
