{% extends "history:history/popup.html" %}               

{% block modal-id %}modal-gosip-instrucoes-sem-score{% endblock%}

{% block modal-title %}Instruções | <small><strong>Tempo estimado para completar a história:</strong> 25 minutos</small>{% endblock%}

{% block modal-body %}
<div class="row">
     <div class="col-md-12 col-sm-12 text-justify" style="font-size: 15px;">
		<p>A história que você vai participar agora, se passa em um país em algum lugar desse nosso planeta, um cidade bem parecida com as que você já conhece, em uma realidade não tão diferente da que vivemos hoje, ambientada em um futuro muito próximo.</p>
		<p>Você vai vivenciar algumas situações cotidianas bem corriqueiras, nas quais você poderá determinar a direção que história vai tomar; cada escolha sua impacta no passo seguinte. Ao final da história, será mostrado como você se saiu.</p>
		<p>Leia atentamente cada etapa da história, para que sua resposta de fato represente sua reação em relação à situação proposta.</p>
		<p>Então, vamos começar?</p>
     </div>
 </div>
{% endblock%}

{% block modal-options %}
{% endblock%}
