{% extends "history:history/popup.html" %}               

{% block modal-id %}modal-gosip-localizacao{% endblock%}

{% block modal-title %}Instalação do Serviço de Localização{% endblock%}

{% block service-name %}location{% endblock %}
{% block service-exposure %}location:{{location_exposure}}{% endblock %}

{% block modal-body %}
<p>O serviço de localização permite que você visualize o mapa de Privus, com suas ruas, serviços, lojas, praças, restaurantes, parques e tudo o mais que Privus tem a oferecer.</p>
<p>Este é um serviço muito útil tanto para você conhecer novos lugares, quanto se locomover de um lugar a outro utilizando  a vista superior da cidade.</p>
<p><strong>Custo: </strong> <span class="currency">0</span></p>
<p>Verifique abaixo que tipo(s) de dado(s) este serviço usa{% if respondent.show_score %} e, considerando a importância que você atribui a eles, qual o risco de exposição{% endif %}:</p>

<ul class="list-group">
  <li class="list-group-item">
	  <p>
	    <label>Dados de localização </label>
	    
	    {% if respondent.show_score == True %} 
	    <span class="badge pull-right">{{ location_exposure|floatformat:0 }}</span>
	    <small class="text-capitalize">
	    	{% if location_exposure > 80 %}
			risco altíssimo
			{% elif location_exposure > 60 %}
			risco alto
			{% elif location_exposure > 40 %}
			risco médio
			{% elif location_exposure > 20 %}
			risco baixo
			{% else %}
			risco baixíssimo
			{% endif%}
			</small>
	    </p>
	    <div class="progress">
			<div id="pb4" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{location_exposure|floatformat:0}}%">
			</div>
		</div>
		{% endif %}
  </li>
</ul>

<script type="text/javascript">
$(function() {
	convertToColor('#pb4',{{location_exposure|floatformat:0}});
});
</script>

{% endblock%}

{% block modal-options %}
<button type="submit" class="btn btn-primary btn-lg">Instalar!</button>
{% endblock%}
