{% extends "history:history/popup.html" %}               
{% load static %}

{% block modal-id %}modal-gosip-mapa{% endblock%}

{% block modal-title %}Mapa de Privus{% endblock%}

{% block modal-body %}
<div class="row">
     <div class="col-md-12 col-sm-12">
		         <img alt="" class="img-responsive img-thumbnail" src="{%static 'mapa.jpg' %}">                              
		     </div>
 </div>
 <div class="row">
     <div class="col-md-12 col-sm-12">
         <br>
 		<label>Endereços importantes</label> 
 		<hr>                             
     </div>
 </div>
 <div class="row">

 	<div class="col-md-6 col-sm-6">
 		<dl>
		  <dt>Entrada da cidade</dt><dd>E1 - Av. Governador dos Palmares</dd>
		  <dt>Banca de Jornal</dt><dd>E1 - Av. Governador dos Palmares</dd>
		  <dt>Pet Shop</dt><dd>E2 - Av. Governador dos Palmares</dd>
		  <dt>Hospital Saint Joseph</dt><dd>E2 - Av. Governador dos Palmares</dd>
		  <dt>Casa do Governo</dt><dd>E3 - Av. Governador dos Palmares</dd>
		  <dt>Viking's Bar</dt><dd>E3 - Av. Governador dos Palmares</dd>
		  <dt>Supermercado</dt><dd>E4 - Av. Governador dos Palmares</dd>
		  <dt>Electric Privus</dt><dd>E4 - Av. Governador dos Palmares</dd>
		  <dt>Centro de Comando Policial</dt><dd>E5 - Rua 7 de Agosto</dd>
		  <dt>Corpo de Bombeiros</dt><dd>E5 - Rua 7 de Agosto</dd>
		  <dt>Açougue</dt><dd>E6 - Rua 7 de Agosto</dd>
		</dl>
 	</div>
 	<div class="col-md-6 col-sm-6">
 		<dl>
		  <dt>Academia</dt><dd>E6 - Rua 7 de Agosto</dd>
		  <dt>Praça Central da Catedral</dt><dd>E7 - Rua 7 de Agosto</dd>
		  <dt>Burguer Queen</dt><dd>E7 - Rua 7 de Agosto</dd>
		  <dt>Shopping Maximus</dt><dd>E8 - Rua 7 de Agosto</dd>
		  <dt>Lotérica</dt><dd>E8 - Rua 7 de Agosto</dd>
		  <dt>Escola</dt><dd>E9 - Rua Armando Beldi</dd>
		  <dt>Parque Azul</dt><dd>E9 - Rua Armando Beldi</dd>
		  <dt>Museu</dt><dd>E10 - Rua Armando Beldi</dd>
		  <dt>Concessionário Auto Privus</dt><dd>E11 - Rua Armando Beldi</dd>
		  <dt>Clube</dt><dd>E11 - Rua Armando Beldi</dd>
		  <dt>Padaria</dt><dd>E12 - Rua Armando Beldi</dd>
		  <dt>Sua casa</dt><dd>E12 - Rua Armando Beldi</dd>
		</dl>
 	</div>
 </div>
{% endblock%}

{% block modal-options %}

{% endblock%}
