<!DOCTYPE html>

<!-- Modal -->
<div class="modal fade" id="{% block modal-id %}{% endblock%}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% block modal-title %}{% endblock%}</h4>
      </div>
      <div class="modal-body container-fluid">
        {% block modal-body %}
        {% endblock%}
      </div>
      <div class="modal-footer">
	      <div class="row">
	      	<div class="col-md-8 col-sm-8 text-left">
	      		<form id="service_form" role="form" method="post" action="{% url 'history.views.install_service' %}"> 
	      			{% csrf_token %}
	      			
	      			<input id="id_service" type="hidden" name="service" value="{% block service-name %}{% endblock %}">
	      			<input id="id_exposure" type="hidden" name="exposure" value="{% block service-exposure %}{% endblock %}">
	      			
		      		{% block modal-options %}
			        <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
			        {% endblock%}
		        </form>
	      	</div>
	      	<div class="col-md-46 col-sm-4 text-right">
	      		<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Fechar</button>
	      	</div>
	      </div>        
      </div>
    </div>
  </div>
</div>

