{% extends "history:history/popup.html" %}               

{% block modal-id %}modal-gosip-saude{% endblock%}

{% block modal-title %}Instalação do Monitor de Saúde{% endblock%}

{% block service-name %}health-monitor{% endblock %}
{% block service-exposure %}health:{{medical_exposure}}{% endblock %}

{% block modal-body %}
<p>O Health Monitor permite que você monitore seus sinais vitais direto do seu dispositivo móvel (como <em>smartphones</em> ou <em>tablets</em>), usando uma tecnologia patenteada pela <em>Xtreme Healthy</em>, 
que utiliza o sinal Bluetooth do seu dispositivo para obter informações sobre sua pressão sanguínea, batimentos cardíacos, taxa respiratória e temperatura corporal. Você também pode programar e
monitorar suas atividades físicas e alimentação e ver como elas estão impactando em sua saúde. <strong>Esta aplicação está com um valor promocional</strong>!</p>
<p>Em breve você também poderá comprar os módulos opcionais a parte que incluem monitor de índice glicêmico, colesterol, trigliceres e acuidades visual e auditiva.</p>
<p>Este é um serviço muito útil para quem quer fazer um acompanhamento diário de sua saúde.</p>
<p><strong>Custo: </strong> <span class="currency">8</span></p>
<p>Verifique abaixo que tipo(s) de dado(s) este serviço usa{% if respondent.show_score %} e, considerando a importância que você atribui a eles, qual o risco de exposição{% endif %}:</p>

<ul class="list-group">
  <li class="list-group-item">
	  <p>
	    <label>Dados médicos </label>
	    
	    {% if respondent.show_score == True %} 
	    <span class="badge pull-right">{{ medical_exposure|floatformat:0 }}</span>
	    <small class="text-capitalize">
	    	{% if medical_exposure > 80 %}
			risco altíssimo
			{% elif medical_exposure > 60 %}
			risco alto
			{% elif medical_exposure > 40 %}
			risco médio
			{% elif medical_exposure > 20 %}
			risco baixo
			{% else %}
			risco baixíssimo
			{% endif%}
			</small>
	    </p>
	    <div class="progress">
			<div id="pb-saude" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{medical_exposure|floatformat:0}}%">
			</div>
		</div>
		{% endif %}
  </li>
</ul>

<script type="text/javascript">
$(function() {
	convertToColor('#pb-saude',{{medical_exposure|floatformat:0}});
});
</script>

{% endblock%}

{% block modal-options %}
<button type="submit" class="btn btn-primary btn-lg">Instalar!</button>
{% endblock%}
