{% extends "history:history/popup.html" %}               

{% block modal-id %}modal-take-photo{% endblock%}

{% block modal-title %}Checkin no BurgerQueen{% endblock%}

{% block service-name %}photo{% endblock %}
{% block service-exposure %}personal:{{personal_exposure}};relation:{{relation_exposure}}{% endblock %}

{% block modal-body %}

	<div class="row">
		<div id="say-cheese-container" class="col-md-12 text-center">
		</div>
	</div>
	<div class="row" id="say-cheese-snapshots">

	</div>
<p><strong>Custo: </strong> <span class="currency">0</span></p>
<p>Este serviço vai utilizar os seus seguintes perfils:</p>

<ul class="list-group">
  <li class="list-group-item">
	  <p>
	    <label>Dados pessoais </label>
	    
	    {% if respondent.show_score == True %} 
	    <span class="badge pull-right">{{ personal_exposure|floatformat:0 }}</span>
	    <small class="text-capitalize">
	    	{% if personal_exposure > 80 %}
			risco altíssimo
			{% elif personal_exposure > 60 %}
			risco alto
			{% elif personal_exposure > 40 %}
			risco médio
			{% elif personal_exposure > 20 %}
			risco baixo
			{% else %}
			risco baixíssimo
			{% endif%}
			</small>
	    </p>
	    <div class="progress">
			<div id="pb6" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{personal_exposure|floatformat:0}}%">
			</div>
		</div>
		{% endif %}
  </li>
  <li class="list-group-item">
  	<p>
	    <label>Dados de Relacionamento </label>
	    
	    {% if respondent.show_score == True %} 
	    <span class="badge pull-right">{{ relation_exposure|floatformat:0 }}</span>
	    <small class="text-capitalize">
	    	{% if relation_exposure > 80 %}
			risco altíssimo
			{% elif relation_exposure > 60 %}
			risco alto
			{% elif relation_exposure > 40 %}
			risco médio
			{% elif relation_exposure > 20 %}
			risco baixo
			{% else %}
			risco baixíssimo
			{% endif%}
			</small>
	    </p>
	    <div class="progress">
			<div id="pb7" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{relation_exposure|floatformat:0}}%">
			</div>
		</div>
		{% endif %}
  </li>
</ul>

<script type="text/javascript">
$(function() {
	convertToColor('#pb6',{{personal_exposure|floatformat:0}});
	convertToColor('#pb7',{{relation_exposure|floatformat:0}});
});
</script>

{% endblock%}

{% block modal-options %}
<button type="submit" class="btn btn-primary btn-lg" id="take-snapshot">Tirar Foto!</button>
{% endblock%}
