{% extends "history:history/popup.html" %}               

{% block modal-id %}modal-gosip-twistter{% endblock%}

{% block modal-title %}Instalação do Twistter{% endblock%}

{% block service-name %}twistter{% endblock %}
{% block service-exposure %}personal:{{personal_exposure}};relation:{{relation_exposure}}{% endblock %}

{% block modal-body %}
<p>Com o Twistter você pode explorar/compartilhar/expandir/discutir seus interesses.</p>
<p>Este é um serviço muito útil para você se conectar a pessoas do mundo inteieor, se expressar e descobrir o que está acontecendo por aí!</p>
<p><strong>Custo: </strong> <span class="currency">0</span></p>
<p>Verifique abaixo que tipo(s) de dado(s) este serviço usa{% if respondent.show_score %} e, considerando a importância que você atribui a eles, qual o risco de exposição{% endif %}:</p>

<ul class="list-group">
  <li class="list-group-item">
	  <p>
	    <label>Dados pessoais </label>
	    
	    {% if respondent.show_score == True %} 
	    <span class="badge pull-right">{{ personal_exposure|floatformat:0 }}</span>
	    <small class="text-capitalize">
	    	{% if personal_exposure > 80 %}
			risco altíssimo
			{% elif personal_exposure > 60 %}
			risco alto
			{% elif personal_exposure > 40 %}
			risco médio
			{% elif personal_exposure > 20 %}
			risco baixo
			{% else %}
			risco baixíssimo
			{% endif%}
			</small>
	    </p>
	    <div class="progress">
			<div id="pb8" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{personal_exposure|floatformat:0}}%">
			</div>
		</div>
		{% endif %}
  </li>
  <li class="list-group-item">
  	<p>
	    <label>Dados de Relacionamento </label>
	    
	    {% if respondent.show_score == True %} 
	    <span class="badge pull-right">{{ relation_exposure|floatformat:0 }}</span>
	    <small class="text-capitalize">
	    	{% if relation_exposure > 80 %}
			risco altíssimo
			{% elif relation_exposure > 60 %}
			risco alto
			{% elif relation_exposure > 40 %}
			risco médio
			{% elif relation_exposure > 20 %}
			risco baixo
			{% else %}
			risco baixíssimo
			{% endif%}
			</small>
	    </p>
	    <div class="progress">
			<div id="pb9" class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{relation_exposure|floatformat:0}}%">
			</div>
		</div>
		{% endif %}
  </li>
</ul>

<script type="text/javascript">
$(function() {
	convertToColor('#pb8',{{personal_exposure|floatformat:0}});
	convertToColor('#pb9',{{relation_exposure|floatformat:0}});
});
</script>

{% endblock%}

{% block modal-options %}
<button type="submit" class="btn btn-primary btn-lg">Instalar!</button>
{% endblock%}
