<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% extends "gosip:gosip/base.html" %}
        {% load static %}
        
        {% block title %}Sobre{% endblock %}
        {% block about %}active{% endblock %}
        
        {% block content %}
        <h4>Sobre o Go!SIP</h4>
        <hr>
        
        <p class="text-justify">A ideia do Go!SIP surgiu dentro do programa de pós graduação do <a href="http://www.cin.ufpe.br/" target="_blank">Centro de Informática</a>, da <a href="http://www.ufpe.br/ufpenova/" target="_blank">Universidade Federal de Pernambuco</a>.</p>
        
        <p class="text-justify">O nome <strong>Go!SIP</strong>, é uma composição de "<em>Go</em>" (do verbo ir, avançar, em inglês) - uma alusão ao estímulo à exposição segura de dados, e de  
        <em>SIP</em>, uma sigla para <em>Smart Identification Privacy</em> (do inglês Privacidade de Identificação Inteligente). Finalmente, o nome Go!SIP é um trocadilho oportuno da palavra <em>gossip</em>, que significa fofocar, bisbilhotar, mexericar.</p>
        
        <p class="text-justify">Imaginando o cenário de exposição de informação de dados pessoais no qual estamos imersos atualmente e vislumbrando a importância que a questão privacidade vai assumir nos próximos anos, a proposta do meu projeto de mestrado é discutir como 
        os problemas decorrentes da utilização, quase que constante, de dados pessoais podem ser tratados, não do ponto de vista "dados" ou do que pode ser feito com eles e sim do ponto de vista "usuário", propondo uma soluçao que tenha em vista como cidadãos comuns podem usufruir de serviços que utilizem suas informações
        pessoais de forma transparente, de modo que cada pessoa tenha total consciência dos riscos e benefícios ao optar por utilizar algum serviço (como redes sociais, localização, pagamento, compras, etc.), a fim de que tome decisões bem fundamentadas. Tudo isso a ser aplicado futuramente ao contexto de Cidades Inteligentes.</p>
        
        <p class="text-justify">Em resumo, o propósito final é dar ao indivíduo o controle sobre seus dados e tentar atribuir-lhe o direito de decidir o que fazer com eles.</p>
        
        <p class="text-justify">Este é só um passo inicial, de uma longa caminhada que envolve, desde conscientização e contextualização de pessoas sobre seus dados e como tirar proveito deles, a descoberta de novos planos de negócio na utilização de dados pessoais e um conjunto de regulamentações adequadas.</p>
                
        <p class="text-right" ><a class="btn btn-default" href="/" role="button">Voltar</a></p>

        {% endblock content %}

        {% block script %}
        {% endblock script %}
    </body>
</html>
