<!DOCTYPE html>

{% load static %}
    
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GO!SIP | {% block title %}{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,900' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-editable.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-growl.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/say-cheese.css' %}" rel="stylesheet">    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link href="{% static 'css/slider.css' %}" rel="stylesheet">
    
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GO!SIP</a>
          </div>
          <div class="collapse navbar-collapse">
            {% block menu %}
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">	            
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if respondent.name != None %}
	                Olá, <strong id="user_first_name">{{ respondent.name }}</strong>
	                {% else  %}
	                Olá, <strong id="user_first_name">Turista</strong>
	                {% endif  %} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{% url 'history.views.profile' %}">Meus Dados</a></li>
						<li class="divider"></li>
						<li><a href="/logout">Sair</a></li>
					</ul>
				</li>
            </ul>
            {% else %}
			<ul class="nav navbar-nav">
			    <li class="{% block home %}{% endblock %}"><a href="/">Home</a></li>
			    <!-- <li class="{% block about %}{% endblock %}"><a href="/about">Sobre</a></li>  -->
			</ul>	  
			{% endif %}
			
			{% endblock %}         
          </div><!--/.nav-collapse -->
        </div>
      </div>
		
      <div class="container">
      		<!--  {{ curr_page }} --> 
		    {% block content %}
        	{% endblock content %}
      </div>

    <div id="footer">
      <div class="container">
	      <div class="row">
		      <div class="col-md-12 col-sm-12">
		        <p class="text-muted text-center">Desenvolvido por <a href="http://welingtonms.wordpress.com/"  target="_blank">Welington Silva</a> e <a href="http://gustahrodrigues.wordpress.com/"  target="_blank">Gustavo Henrique</a>. 2014. CIn-UFPE | Bug? <a>wms4@cin.ufpe.br</a></p>
		      </div>
	      </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-editable.min.js' %}"></script>
	<script src="{% static 'js/jquery.bootstrap-growl.min.js' %}"></script>
	<script src="{% static 'js/scrollToggle.js' %}"></script>
	<script src="{% static 'js/jquery.mask.min.js' %}"></script>
	<script src="{% static 'js/say-cheese.js' %}"></script>
	<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<script src="{% static 'js/bootstrap-slider.js' %}"></script>
  	
    
    <script type="text/javascript">
    	$.fn.editable.defaults.mode = 'popup';  

    	{% if messages %}
		{% for message in messages %}
			showNotification('{{ message.tags }}', '{{message}}')
		{% endfor %}
		{% endif %}
		
		function showNotification(tags, message) {
			$.bootstrapGrowl(message, { 
				type: tags,
				align: 'center',
				width: 'auto',
	            allow_dismiss: false,
	            delay: 16000
			});
		}
	
		function setValues(step_answer) {
			$("#id_step_answer").val(step_answer);
			
			$("#step_form").submit();
		}
		
		$(function () {
		    $('.btn-radio').click(function(e) {
		        $('.btn-radio').not(this).removeClass('active')
		    		.siblings('input').prop('checked',false)
		            .siblings('.img-radio').css('opacity','0.5');
		    	$(this).addClass('active')
		            .siblings('input').prop('checked',true)
		    		.siblings('.img-radio').css('opacity','1');
		    });
		});

		$(document).ready(function(){
			$('.date').mask('99/99/9999');
			$('.number').mask('0000000000');
			
			 $('#modal-gosip-app-fakebook').on('show.bs.modal', function (e) {
	        	asyncSubmission('#fakebook_form', "{% url 'history.views.mark_read' %}", function() {console.log('ok')}, function() {console.log('N ok')});          		
         	});
			 
			 $('#modal-gosip-app-fakebook').on('hidden.bs.modal', function (e) {
          		reload();
         	});
		});

		function initializeCamera() {
	        var sayCheese = new SayCheese('#say-cheese-container', { audio: false });

	        sayCheese.on('start', function() {
	          $('#take-snapshot').on('click', function(evt) {
	            sayCheese.takeSnapshot();
	            if ($("#id_value").val() > 0) {
	        		var new_value = $("#id_value").val() - 4;
	       			$("#total-order").text(new_value);
	       			$("#id_value").val(new_value);
	        	}
	            $("#id_context").val('8c;com foto');
	          });
	        });

	        sayCheese.on('error', function(error) {
	          var msg = '';

	          if (error === 'NOT_SUPPORTED') {
	        	  msg = "<strong>:(</strong> seu browser não suporta vídeo!";
	          } else if (error === 'AUDIO_NOT_SUPPORTED') {
	        	  msg = "<strong>:(</strong> seu browser não suporta áudio!!";
	          } else {
	        	  msg = "<strong>:(</strong> você precisar clicar em 'Permitir' (ou 'Allow') para conseguir fazer o checkin!";
	          }

	          showNotification('danger', msg);
	          $('#modal-take-photo').modal('hide');
	        });

	        sayCheese.on('snapshot', function(snapshot) {
	          var img = document.createElement('img');

	          $(img).addClass( "img-responsive" );
	          $(img).addClass( "col-sm-3" );
	          $(img).addClass( "col-md-3" ); 
	          
	          $(img).on('load', function() {
	            $('#say-cheese-snapshots').prepend(img);
	          });
	          img.src = snapshot.toDataURL('image/png');
	        });

	        sayCheese.start();
	        
	        $('#modal-take-photo').on('hidden.bs.modal', function (e) {
          		sayCheese.stop();
         	});
	        	        
	      };

	      function convertToColor(id, value) {
		
// 	    	  var r = Math.floor((255*value)/100);
// 	    	  var g = Math.floor((255*(100-value))/100); 
// 	    	  var b=0;
//  	   	  console.log(id  +' ' +  "rgb(" + r + "," + g + "," + b + ");");
// 	    	  $(id).css('background-color', "rgb(" + r + "," + g + "," + b + ");");
	    	  $(id).css('background-color', "hsl(" + (100 - value) + ", 100%, 50%);");
	      }
	      	      
	      function reload() {
	    		location.reload();  
	      }
	      
	      function asyncSubmission(id, url, onsuccess, onerror) {
    		var data = $(id).serialize(); // serializes the form's elements

    	    $.ajax({
    	       type: "POST",
    	       url: url,
    	       data: data,
    	       success: onsuccess,
    	       error: onerror
    	     });

    	    return false; // avoid to execute the actual submit of the form.
    	}
	</script>

    {% block scripts %}
    {% endblock scripts%}
    
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-52728611-1', 'auto');
	  ga('send', 'pageview');
	
	</script>

    {% block popups %}
    {% endblock %}
  </body>
</html>
