<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {% extends "gosip:gosip/base.html" %}
        {% load staticfiles %}
        {% load widget_tweaks %}
        
        {% block title %}Principal{% endblock %}
        {% block home %}active{% endblock %}
        
        {% block content %}

        <div style="padding: 10%">
           <div class="row" style="margin-bottom: 3%">
               <div class="col-sm-8 col-sm-offset-2 text-justify">
                   <!-- <p>Antes de começar, <a alt="Sobre o Go!SIP" href="/about">saiba um pouco mais</a> sobre o Go!SIP e qual a importância da sua participação no projeto.</p>  -->
                   <p>Primeiramente, obrigado pela sua participação na avaliação da proposta do meu projeto de mestrado.</p>
                   <p>Para iniciar, basta criar um <em>login</em> e escolher sua senha. Simples assim...</p>
                   
               </div>
           </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                
                    <form class="" role="form" id="login_form" method="post" action="{% url 'gosip.views.login_view' %}">
                        {% csrf_token %}
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 col-sm-offset-2 control-label">Login</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="username" placeholder="digite seu login" name="username" autofocus="autofocus">
                            </div>
                        </div>
                        <div class="row hold-top">
                            <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">Senha</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="password" placeholder="digite sua senha" name="password">
                            </div>
                        </div>
                        <div class="row hold-top">
                            <label for="inputPassword3" class="col-sm-4 col-sm-offset-2 control-label invisible">Confirmação</label>
                            <div class="col-sm-6">
                                <input id="id_password2" class="form-control invisible" name="password2" type="password" placeholder="repita sua senha"/>
                            </div>
                        </div>
                        <div class="row hold-top">
                            <div class="col-md-6 col-sm-6 col-sm-offset-4 ">
	                            <div class="btn-group btn-group-justified">
								  	<div class="btn-group">
						  				<button type="submit" class="btn btn-primary">Quero Entrar</button>
						  			</div>
						  		</div>
                            </div>
                        </div>
                    </form>
                    
                </div>
                
                <div class="col-md-6 col-sm-6">
                    <form class="form-horizontal" role="form" id="signup_form" method="post" action="{% url 'gosip.views.signup_view' %}">
                        {% csrf_token %}
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-4 col-sm-offset-2 control-label">Login</label>
                            <div class="col-sm-6">
                                <input id="id_username" class="form-control" maxlength="30" name="username" type="text" placeholder="escolha seu usuário"/>
                            </div>
                        </div>
                        <div class="row hold-top">
                            <label for="inputPassword3" class="col-sm-4 col-sm-offset-2 control-label">Senha</label>
                            <div class="col-sm-6">
                                <input id="id_password1" class="form-control" name="password1" type="password" placeholder="digite sua senha"/>
                            </div>
                        </div>
                        <div class="row hold-top">
                            <label for="inputPassword3" class="col-sm-4 col-sm-offset-2 control-label">Confirmação</label>
                            <div class="col-sm-6">
                                <input id="id_password2" class="form-control" name="password2" type="password" placeholder="repita sua senha"/>
                            </div>
                        </div>
                        
                        <div class="row hold-top">
                            <div class="col-md-6 col-sm-6 col-sm-offset-6 ">
	                            <div class="btn-group btn-group-justified">
								  	<div class="btn-group">
						  				<button type="submit" class="btn btn-default">Quero me Cadastrar</button>
						  			</div>
						  		</div>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
	        
        {% endblock content %}

    </body>
</html>
